#ido-launchpad-on-polygon .top-header p {
  margin-bottom: 0;
  color: #fff;
  display: inline-block;
  width: auto;
}
.lc-1ip30wz {
  height: 30px !important;
}
.top-header {
  background: #378658;
  padding: 10px;
}
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.top-header .breathing_effect {
  -webkit-animation: breathing 1s infinite ease-in-out;
  animation: breathing 1s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  transition: 1s;
  display: inline-block;
  width: auto;
}
.top-header .breathing_effect a {
  background: #f44336;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  margin-left: 15px;
}
.top-header .breathing_effect a:hover {
  color: #fff !important;
}
@media (max-width: 1199px) {
  .header .main-menu > li a {
    padding: 0 5px;
  }
}
@media (max-width: 550px) {
  .top-header p {
    width: 60%;
    text-align: right;
    vertical-align: middle;
  }
  .top-header .breathing_effect {
    display: inline-block;
    width: 40%;
  }
}
#ido-launchpad-on-polygon .guardian-p {
  text-align: center;
  font-size: 12px;
}
/*-- Client section --*/
#ido-launchpad-on-polygon .teck .category-grid-style-01 .category-item {
  padding: 10px !important;
}
#ido-launchpad-on-polygon .category-item.aos-item .text-center {
  font-size: 12px !important;
  margin-bottom: 0px !important;
}
#ido-launchpad-on-polygon
  .teck
  .category-grid-style-01
  .category-item
  .category-icon {
  margin-bottom: 0 !important;
}
#ido-launchpad-on-polygon .teck .category-icon img {
  height: 80px !important;
}
#ido-launchpad-on-polygon h1,
#ido-launchpad-on-polygon h2,
#ido-launchpad-on-polygon h3,
#ido-launchpad-on-polygon h4,
#ido-launchpad-on-polygon h5,
#ido-launchpad-on-polygon h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0px !important;
}
#ido-launchpad-on-polygon .contentall {
  padding: 0;
}

#ido-launchpad-on-polygon .banner_content {
  text-align: left;
}
#ido-launchpad-on-polygon .banner-overlay {
  background-color: rgb(0 0 0 / 0%);
}
#ido-launchpad-on-polygon .contentall a:hover {
  background: #00acdc;
}
#ido-launchpad-on-polygon .banner {
  background-image: url(./assets/images/banner-bg32.webp);
  background-size: cover;
  padding-top: 138px;
  padding-bottom: 80px;
  height: auto;
}
#ido-launchpad-on-polygon .banner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #11091700, #20132a00);
  opacity: 0.95;
}
#ido-launchpad-on-polygon .banner_content {
  text-align: left;
  position: relative;
  top: 0;
  transform: none;
}
#ido-launchpad-on-polygon .banner_content .contentall {
  margin-top: 85px;
}
#ido-launchpad-on-polygon .ban_tirt,
#ido-launchpad-on-polygon .contentall h1 {
  margin-bottom: 20px;
  line-height: 1.3;
  font-weight: 700;
  font-size: 35px;
  text-transform: capitalize;
}
#ido-launchpad-on-polygon .contentall p {
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 19px;
  max-width: 800px;
  margin: 0 auto 30px;
  display: block;
}
#ido-launchpad-on-polygon .contentall a {
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
}
#ido-launchpad-on-polygon .sec_tit,
#ido-launchpad-on-polygon .sec_tit h2 {
  font-size: 25px !important;
  font-weight: 700;
  color: #000;
  line-height: 1.4;
  text-transform: capitalize;
}
#ido-launchpad-on-polygon .font-wei {
  color: #000 !important;
  font-weight: 700 !important;
}
@media (max-width: 1199px) {
  #ido-launchpad-on-polygon .ban_tirt,
  #ido-launchpad-on-polygon .contentall h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  #ido-launchpad-on-polygon .banner_content .contentall {
    margin-top: 50px;
    text-align: center;
  }

  #ido-launchpad-on-polygon .banner {
    padding-top: 80px;
    padding-bottom: 0;
  }
  #ido-launchpad-on-polygon .banner-overlay {
    background: #023c5100;
  }
  #ido-launchpad-on-polygon .banner_content p {
    font-size: 14px !important;
  }
  #ido-launchpad-on-polygon .ban_tirt,
  #ido-launchpad-on-polygon .contentall h1 {
    font-size: 25px;
    text-align: center;
  }
  #ido-launchpad-on-polygon .sec_tit,
  #ido-launchpad-on-polygon .sec_tit h2 {
    font-size: 20px !important;
  }
  #ido-launchpad-on-polygon .adv_fet,
  #ido-launchpad-on-polygon .counters,
  #ido-launchpad-on-polygon .flip-box {
    max-width: 450px;
    margin: 0 auto 30px;
  }
  #ido-launchpad-on-polygon .banner_content p br,
  #ido-launchpad-on-polygon .pr_arr:after,
  #ido-launchpad-on-polygon .pr_arr:before,
  #ido-launchpad-on-polygon .sec_tit br {
    display: none !important;
  }
}
#ido-launchpad-on-polygon h3.section-title {
  font-size: 25px !important;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}
#ido-launchpad-on-polygon .banner_content h4 {
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 10px;
}
#ido-launchpad-on-polygon .intro_cnt img {
  border-radius: 10px;
  margin-top: 0;
}
#ido-launchpad-on-polygon .sec_tit h2 {
  display: inline;
}
#ido-launchpad-on-polygon .text-dark {
  color: #000 !important;
}
#ido-launchpad-on-polygon .bx {
  background: #fff;
  max-width: 74%;
  margin: 0 auto;
  padding: 5% 3%;
  box-shadow: 0 0 4px 3px #00000014;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 15px;
}
#ido-launchpad-on-polygon .bx p {
  margin-bottom: 0;
  color: #000;
}
#ido-launchpad-on-polygon .bx:hover {
  background: #47b475;
}
#ido-launchpad-on-polygon .bx:hover p {
  color: #fff;
}
#ido-launchpad-on-polygon .main-timeline {
  padding: 25px 0 0;
  position: relative;
}
#ido-launchpad-on-polygon .main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
#ido-launchpad-on-polygon .main-timeline .timeline {
  width: 65%;
  margin: 10px auto 0;
  padding: 30px 0 0 50px;
  float: left;
  position: relative;
  margin-bottom: 20px;
}
#ido-launchpad-on-polygon .main-timeline .timeline-content {
  color: #333;
  background-color: #fff;
  padding: 20px 50px 20px 100px;
  border-radius: 20px;
  display: block;
  position: relative;
}
#ido-launchpad-on-polygon .main-timeline .timeline-content:hover {
  text-decoration: none;
}
#ido-launchpad-on-polygon .main-timeline .timeline-content:before {
  content: "";
  background: linear-gradient(to right bottom, #00cd95, #00aae0);
  height: 150px;
  width: 150px;
  border-radius: 10px 0;
  position: absolute;
  left: -50px;
  top: -30px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
#ido-launchpad-on-polygon .main-timeline .timeline-count {
  color: #fff;
  background: linear-gradient(to right bottom, #00ca9b, #0983d9);
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  line-height: 90px;
  height: 110px;
  width: 110px;
  border: 10px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: -10px;
}
#ido-launchpad-on-polygon .main-timeline .timeline-icon {
  color: #0d60a6;
  font-size: 40px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
}
#ido-launchpad-on-polygon .main-timeline .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 7px 0;
}
#ido-launchpad-on-polygon .main-timeline .description {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  margin: 0;
}
#ido-launchpad-on-polygon .main-timeline .timeline:nth-child(even) {
  float: right;
  margin: 0 auto;
}
@media screen and (max-width: 990px) {
  #ido-launchpad-on-polygon .main-timeline .timeline {
    margin: -30px auto 0;
  }
}
@media screen and (max-width: 767px) {
  #ido-launchpad-on-polygon .main-timeline .timeline,
  #ido-launchpad-on-polygon .main-timeline .timeline:nth-child(even) {
    width: 100%;
    min-height: 150px;
    padding: 20px 0 0 20px;
    margin: 0;
  }
  #ido-launchpad-on-polygon .main-timeline .timeline-content {
    padding: 60px 20px 15px 20px;
  }
  #ido-launchpad-on-polygon .main-timeline .timeline-content:before {
    height: 80px;
    width: 100px;
    left: -20px;
    top: -20px;
  }
  #ido-launchpad-on-polygon .main-timeline .timeline-icon {
    transform: translateY(0);
    top: 5px;
  }
  #ido-launchpad-on-polygon .main-timeline .timeline-count {
    font-size: 40px;
    line-height: 50px;
    height: 60px;
    width: 60px;
    border-width: 5px;
    left: 0;
  }
}
@media screen and (max-width: 567px) {
  #ido-launchpad-on-polygon .main-timeline .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  #ido-launchpad-on-polygon .main-timeline .timeline {
    margin-bottom: 20px !important;
  }
}
#ido-launchpad-on-polygon .cta-rewamped.ctaRewamped {
  background-image: none;
  padding: 5% 0;
}
#ido-launchpad-on-polygon .cta-rewamped.ctaRewamped .container {
  background-image: linear-gradient(311deg, #00acdc 0, #47b475);
  padding-top: 20px;
  border-radius: 14px;
}
#ido-launchpad-on-polygon .row-flexible-center {
  padding: 3%;
}
#ido-launchpad-on-polygon .cta-rewamped.ctaRewamped .cta-rewamped-texter h4 {
  margin-bottom: 15px;
}
#ido-launchpad-on-polygon .cta-rewamped-texter h4 {
  font-size: 26px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
}
#ido-launchpad-on-polygon .cta-rewamped.ctaRewamped .cta-rewamped-texter p {
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 20px;
}
#ido-launchpad-on-polygon .cta-sec {
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
  background: #2ab19e !important;
}
#ido-launchpad-on-polygon .cta-sec1:hover {
  background: #fff !important;
  color: #47b475 !important;
}
#ido-launchpad-on-polygon .list {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  line-height: 35px;
  text-indent: -17px;
  list-style: none;
}
#ido-launchpad-on-polygon .list li:before {
  content: " \f0da ";
  font-family: FontAwesome;
  color: #2e9107;
  margin-right: 10px;
  font-size: 18px;
}
#ido-launchpad-on-polygon .comp-box {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
#ido-launchpad-on-polygon .process li:after {
  font-family: FontAwesome;
  top: 3px;
  right: 0;
  padding-right: 10px;
  content: "\f0a9";
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #03b787;
}
#ido-launchpad-on-polygon .process li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 29px;
}
#ido-launchpad-on-polygon .shard_master-node {
  background-image: url(./assets/images/sec-bg10.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  padding: 60px 0;
  position: relative;
}
#ido-launchpad-on-polygon .font_wei {
  color: #fff;
  font-weight: 700;
}
#ido-launchpad-on-polygon .cta-textwrap {
  padding: 15px;
}
#ido-launchpad-on-polygon .cta-lay1 {
  background-color: #0a2ba3c9;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#ido-launchpad-on-polygon .shard_master-node1 {
  background-image: url(./assets/images/sec-bg11.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  padding: 60px 0;
  position: relative;
}
#ido-launchpad-on-polygon .cta-overlay1 {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#ido-launchpad-on-polygon .cta-textwrap1 {
  text-align: right;
}
#ido-launchpad-on-polygon .box {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: rgb(50 50 93 / 0%) 0 50px 100px -20px,
    rgb(0 0 0 / 6%) 0 30px 60px -30px, rgb(10 37 64 / 24%) 0 -2px 6px 0 inset;
}
#ido-launchpad-on-polygon .box img {
  padding: 10px 0;
}
#ido-launchpad-on-polygon .box h5 {
  font-weight: 600;
}
#ido-launchpad-on-polygon .b1 {
  margin: 130px 0 0 0;
}
#ido-launchpad-on-polygon .b2 {
  margin: 40px 0 20px 0;
  background-color: #47b475;
  color: #fff;
}
#ido-launchpad-on-polygon .shard_master-node3 {
  background-image: url(./assets/images/sec-bg12.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  padding: 60px 0;
  position: relative;
}
#ido-launchpad-on-polygon .cta-lay2 {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 750px) {
  #ido-launchpad-on-polygon .cta-overlay {
    display: none;
  }
  #ido-launchpad-on-polygon .cta-textwrap {
    text-align: center;
  }
  #ido-launchpad-on-polygon .cta-textwrap a,
  #ido-launchpad-on-polygon .cta-textwrap1 a {
    width: auto;
  }
}
@media screen and (max-width: 560px) {
  #ido-launchpad-on-polygon .cta-lay1,
  #ido-launchpad-on-polygon .cta-lay2,
  #ido-launchpad-on-polygon .cta-overlay1 {
    background: #061443;
  }
  #ido-launchpad-on-polygon .cta-textwrap1 {
    text-align: center !important;
  }
}
@media screen and (max-width: 991px) {
  #ido-launchpad-on-polygon .brief-out {
    margin-bottom: 20px;
  }
  #ido-launchpad-on-polygon .b2 {
    margin: 0 0 20px 0 !important;
  }
}
@media (min-width: 770px) and (max-width: 1600px) {
  #ido-launchpad-on-polygon .res-wid {
    width: 70% !important;
    margin: 0 auto !important;
  }
}
@media (min-width: 991px) {
  #ido-launchpad-on-polygon .compo-img {
    padding-top: 60px;
  }
}
#ido-launchpad-on-polygon .comp-box {
  padding: 15px !important;
}

#ido-launchpad-on-polygon .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#ido-launchpad-on-polygon .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#ido-launchpad-on-polygon
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#ido-launchpad-on-polygon .contentall a,
#ido-launchpad-on-polygon a.home-talk-experts {
  padding: 10px 20px !important;
}

#ido-launchpad-on-polygon #newsletter-form-sec .form-group {
  margin-bottom: 7px;
}
#ido-launchpad-on-polygon #mailForm_common .form-group label {
  color: #fff;
}
#ido-launchpad-on-polygon .contact-content {
  padding-top: 40px;
  padding: 30px;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #f9f9f9;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);
  border-radius: 7px;
}
#ido-launchpad-on-polygon .contact-content p {
  font-size: 18px;
  line-height: 30px;
}
#ido-launchpad-on-polygon .contact-content a {
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}
#ido-launchpad-on-polygon .contact-content a i {
  color: #47b475;
  font-size: 24px;
}
#ido-launchpad-on-polygon .form-control {
  background: #fff;
}
#ido-launchpad-on-polygon .pad-40-20 {
  padding: 25px 25px 0 25px;
}
#ido-launchpad-on-polygon input#phone_common {
  background: #fff;
}
#ido-launchpad-on-polygon #mailForm_common .form-group label {
  color: #fff;
}
#ido-launchpad-on-polygon a.home-talk-experts {
  border-radius: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #ido-launchpad-on-polygon .contact-content {
    margin-top: 20px;
    margin-left: 0;
    padding: 20px !important;
  }
  #ido-launchpad-on-polygon .pad-40-20 {
    padding: 20px;
  }
  #ido-launchpad-on-polygon .contact-content a {
    font-size: 14px;
  }
  #ido-launchpad-on-polygon .sticky-form {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #ido-launchpad-on-polygon .contact-content {
    margin-top: 20px;
    margin-left: 0;
  }
}
#ido-launchpad-on-polygon .newsletter_videos h5 {
  color: #fff;
  font-size: 25px !important;
}
#ido-launchpad-on-polygon h5.section-title {
  font-size: 27.46px;
}
#ido-launchpad-on-polygon .client h5 {
  color: #444 !important;
}
#ido-launchpad-on-polygon h5.common_h3 {
  font-size: 25px !important;
}

#ido-launchpad-on-polygon .pull-right-tow {
  background-color: #ba3c0d;
  padding: 3px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 125px;
  position: absolute;
  right: 0;
  bottom: -35px;
}
#ido-launchpad-on-polygon .pull-right-tow a {
  font-size: 12px;
}

#ido-launchpad-on-polygon .header-nabar-icon .pull-right {
  background-color: #47b475;
  font-weight: 700;
  font-size: 15px;
  padding: 3px 15px;
  /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
  margin-right: 0px;
  position: absolute;
  right: 16px;
  bottom: -30px;
}

#ido-launchpad-on-polygon .header-nabar-icon .pull-right a:hover {
  color: #fff !important;
}
#ido-launchpad-on-polygon .header-nabar-icon .pull-right a,
#ido-launchpad-on-polygon .header-nabar-icon .pull-right-tow a {
  color: #fff;
}

#ido-launchpad-on-polygon .sticky-form > .quick-cont-btn {
  top: 64vh;
  right: -60px;
  padding: 0px 20px;
}

@media (max-width: 320px) {
  #ido-launchpad-on-polygon.header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }
  #ido-launchpad-on-polygon .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}
@media (max-width: 768px) {
  #ido-launchpad-on-polygon .header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }
  #ido-launchpad-on-polygon .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}
/*@media  (max-width: 1024px){
    .header-nabar-icon .pull-right, .pull-right-tow {
      background-color: #47b475;
    font-weight: 700;
    font-size: 15px;
    padding: 3px 15px;
    margin-right: 0px;
    position: relative;
    right: 16px;
    bottom: -30px;
    }
}*/

#ido-launchpad-on-polygon .color-btn {
  background-color: #1fd1f9 !important;
  background-image: -o-linear-gradient(
    135deg,
    #b621fe 0,
    #1fd1f9 74%
  ) !important;
  background-image: linear-gradient(315deg, #b621fe 0, #1fd1f9 74%) !important;
  border-radius: 7px;
  color: #fff;
}
#ido-launchpad-on-polygon .color-btn1 {
  border: none;
  /*border-radius: 50px;*/
  transition: 0.3s;
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  /* clip-path: polygon(0% 0%,90% 0,100% 30%,100% 100%,0 100%); */
  animation: glow 1s infinite;
  transition: 0.5s;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
  font-size: 16px;
}
#ido-launchpad-on-polygon .color-btn1:focus,
#ido-launchpad-on-polygon .color-btn1:hover {
  background-color: #47b475;
  transition: 0.5s;
}
#ido-launchpad-on-polygon .color-btn1 span:hover {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 643px) {
  #ido-launchpad-on-polygon .color-btn1 {
    padding: 9px 16px !important;
  }
}
/*.color-btn1:before{
    content: "";
    background: rgba(0,0,0,0.9);
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
}*/
@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(220, 41, 255), -5px -5px 20px rgb(220, 41, 255);
  }

  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}
#ido-launchpad-on-polygon .sticky_form_bp {
  position: fixed;
  right: -80px !important;
  top: 250px;
  z-index: 10;
  background: #47b475;
  color: #fff;
  padding: 0px 15px 16px !important;
  text-transform: capitalize;
  font-weight: 700;
  transform: rotate(270deg) !important;
  cursor: pointer;
  font-size: 14px;
}
/*@media (max-width: 1024px){
    .sticky_form_bp {
        display:block !important;
}
}

@media (max-width: 320px){
    .sticky_form_bp  {
        display: block;
        
}
}*/

@media (min-width: 320px) and (max-width: 768px) {
  /*.openbtn1{width: 70px !important; top: 21% !important;}*/
}

/* The sidepanel menu */
#ido-launchpad-on-polygon .sidepanel4 {
  height: auto; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Stay on top */
  top: 27%;
  left: 0;
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
#ido-launchpad-on-polygon .sidepanel4 a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#ido-launchpad-on-polygon .sidepanel4 a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#ido-launchpad-on-polygon .sidepanel4 .closebtn1 {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 44px;
  margin-left: 50px;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  background: #eb1e2d !important;
  line-height: 0.8em;
  font-weight: bold;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 70%);
}

/* Style the button that is used to open the sidepanel */
#ido-launchpad-on-polygon .openbtn1 {
  /*font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0px;
  border: none;
  position: fixed;
  top: 43%;
  left: 0;
  width: 90px;
  z-index: 99999;*/
  /*animation: zoom-in-zoom-out 1s ease infinite;*/
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#ido-launchpad-on-polygon .openbtn1:hover {
  background-color: transparent;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

#ido-launchpad-on-polygon .close-btn {
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 99;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  box-shadow: 1px 1px 11px -3px #999;
  display: none;
  transition: all 2s;
  background-color: #89002a;
}
#ido-launchpad-on-polygon .fixed-social {
  position: fixed;
  bottom: 42px;
  padding: 0px 10px;
  background: linear-gradient(2deg, black, #868686, black);
  transition: all 2s;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  box-shadow: 1px 1px 11px -3px #999; /*filter: drop-shadow(0 0 0.75rem crimson);*/
  display: flex !important;
  flex-wrap: wrap;
  z-index: 99;
  justify-content: center;
}
#ido-launchpad-on-polygon .hide {
  opacity: 0;
  left: -100%;
}
#ido-launchpad-on-polygon .show1 {
  opacity: 1;
  left: 50px;
}
#ido-launchpad-on-polygon .fixed-social .items {
  margin: 0 auto;
}
#ido-launchpad-on-polygon .fixed-social .items .icons {
  width: 55px;
  height: 55px;
  background: linear-gradient(45deg, black, transparent);
  padding: 5px;
  border-radius: 50%;
  margin: -17px 0;
  float: left;
}
#ido-launchpad-on-polygon .fixed-social .items .icons i {
  padding: 9px;
  background: #00a7e7;
  border-radius: 50%;
  font-size: 26px;
  color: #fff;
}
#ido-launchpad-on-polygon .fixed-social .items .text {
  padding-left: 60px;
  font-weight: bold;
  font-family: arial;
  font-size: 14px;
  color: #fff !important;
  line-height: 2.2em;
}
#ido-launchpad-on-polygon .fixed-social .items a {
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  #ido-launchpad-on-polygon .show1 {
    left: 20px;
  }
  #ido-launchpad-on-polygon .close-btn {
    bottom: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #ido-launchpad-on-polygon .fixed-social {
    bottom: 80px;
  }
  #ido-launchpad-on-polygon .show1 {
    left: 50px;
  }
  #ido-launchpad-on-polygon .close-btn {
    bottom: 60px;
    z-index: 999;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #ido-launchpad-on-polygon .fixed-social .items .text {
    display: none;
  }
  #ido-launchpad-on-polygon .fixed-social {
    bottom: 80px;
  }
  #ido-launchpad-on-polygon .show1 {
    left: 12%;
  }
  #ido-launchpad-on-polygon .fixed-social .items a {
    display: flex;
    justify-content: center;
  }
  #ido-launchpad-on-polygon .close-btn {
    bottom: 60px;
    z-index: 999;
  }
}
