#sto-marketing-services .top-header p {
  margin-bottom: 0;
  color: #fff;
  display: inline-block;
  width: auto;
}
.lc-1ip30wz {
  height: 30px !important;
}
.top-header {
  background: #378658;
  padding: 10px;
}
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.top-header .breathing_effect {
  -webkit-animation: breathing 1s infinite ease-in-out;
  animation: breathing 1s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  transition: 1s;
  display: inline-block;
  width: auto;
}
.top-header .breathing_effect a {
  background: #f44336;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  margin-left: 15px;
}
.top-header .breathing_effect a:hover {
  color: #fff !important;
}
@media (max-width: 1199px) {
  .header .main-menu > li a {
    padding: 0 5px;
  }
}
@media (max-width: 550px) {
  .top-header p {
    width: 60%;
    text-align: right;
    vertical-align: middle;
  }
  .top-header .breathing_effect {
    display: inline-block;
    width: 40%;
  }
}
#sto-marketing-services .guardian-p {
  text-align: center;
  font-size: 12px;
}
/*-- Client section --*/
#sto-marketing-services .teck .category-grid-style-01 .category-item {
  padding: 10px !important;
}
#sto-marketing-services .category-item.aos-item .text-center {
  font-size: 12px !important;
  margin-bottom: 0px !important;
}
#sto-marketing-services
  .teck
  .category-grid-style-01
  .category-item
  .category-icon {
  margin-bottom: 0 !important;
}
#sto-marketing-services .teck .category-icon img {
  height: 80px !important;
}
#sto-marketing-services h1,
#sto-marketing-services h2,
#sto-marketing-services h3,
#sto-marketing-services h4,
#sto-marketing-services h5,
#sto-marketing-services h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0px !important;
}
#sto-marketing-services .contentall {
  padding: 0;
}
#sto-marketing-services h1 {
  text-align: center;
}
@media only screen and (max-width: 479px) {
  #sto-marketing-services h1 {
    font-size: 24px;
  }
}
#sto-marketing-services .contact-us-sec {
  background: url(./assets/images/sec-bg13.webp) no-repeat fixed center center;
  background-size: cover;
  position: relative;
}
/*-- Client section --*/

#sto-marketing-services .form-right input.submit_send {
  width: 100% !important;
  margin: 0 !important;
  display: inline-block !important;
  background: #47b475 !important;
  color: #fff !important;
  border: 0 !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  padding: 10px 0 !important;
}

#sto-marketing-services .types-sto > div {
  background: #f5f5f5 none repeat scroll 0 0 !important;
  box-shadow: none !important;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #sto-marketing-services .banner {
    background: #1da591;
    background-size: cover;
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  #sto-marketing-services .local_bitcoins {
    display: none !important;
  }
  #sto-marketing-services .large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    background-color: transparent;
  }
}

@media only screen and (max-width: 479px) {
  #sto-marketing-services .banner {
    background: #1da591;
    background-size: cover;
    position: relative;
    height: 500px;
    overflow: hidden;
  }

  #sto-marketing-services .my_banner {
    background: url(./assets/images/banner-bg34.webp) no-repeat scroll center
      center;
    height: 500px;
  }

  #sto-marketing-services .large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    background-color: transparent;
  }
  #sto-marketing-services .local_bitcoins {
    display: none !important;
  }
}

#sto-marketing-services .font-wei {
  font-weight: 700 !important;
  color: #000000 !important;
}

#sto-marketing-services .flip-icon-outer {
  text-align: center !important;
}

#sto-marketing-services .flip-box-piller1 {
  text-align: center !important;
  padding: 15px;
  border: 2px solid #f2f2f2f2;
  min-height: 300px;
  margin-bottom: 20px;
}

#sto-marketing-services .flip-box-piller1:hover {
  background: #47b475;
}

#sto-marketing-services .flip-box-piller1:hover .flip-tit {
  color: #fff;
}

#sto-marketing-services .flip-box-piller1:hover .flip-txt {
  color: #fff;
}

#sto-marketing-services .flip-box-piller1:hover .flip-icon-outer {
  background: #f2f2f2;
}

#sto-marketing-services .flip-tit {
  color: #000000;
}

#sto-marketing-services .popup-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 7px;
  justify-content: center;
}
.popup-ul li {
  width: 26%;
  margin-bottom: 20px;
  justify-content: center;
  padding: 0px;
  text-align: center;
}
.popup-ul li p {
  color: #fff;
  margin-bottom: 0;
}
.popup-ul li img {
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
}
.login-popup .box-1 .form .form-control::placeholder {
  color: #fff;
}
.login-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1099;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}
.login-popup.show {
  visibility: visible;
  opacity: 1;
}
.login-popup .box-1 {
  background-color: #000a30;
  min-width: 870px !important;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  margin-left: 50px;
  transition: 1s;
}
.login-popup.show .box-1 {
  opacity: 1;
  margin-left: 0;
}
.login-popup .box-1 .img-area {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  overflow: hidden;
  padding: 50px 30px 0px;
  align-items: center;
  justify-content: center;
}
.login-popup .box-1 .img-area h1 {
  font-size: 30px;
}
.login-popup .box-1 .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/marketing-form-bg.webp");
  background-size: cover;
  background-position: center; /*animation:7s linear infinite zoomInOut;*/
  z-index: -1;
  opacity: 0.2;
}
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.login-popup .box-1 .form {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px 30px 20px; /*background-color:#fff*/
}
.login-popup .box-1 .form h2 {
  color: #fff;
  font-size: 30px;
  margin: 0 0 30px;
}
.login-popup .box-1 .form .form-control {
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  font-size: 15px;
  background: #ffffff36;
  box-shadow: 0px 0px 7px #0000004a;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
}
.login-popup .box-1 .form .btn:focus,
.login-popup .box-1 .form .form-control:focus {
  outline: 0;
}
.login-popup .box-1 .form label {
  font-size: 15px;
  color: #555;
}
.login-popup .box-1 .form .btn {
  width: auto;
  background-color: #e91e63;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  line-height: 0;
}
.login-popup .box-1 .form .close {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 1;
  color: #fff;
  background: #ffffff91;
  border-radius: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .login-popup .box-1 {
    width: calc(100% - 30px);
    min-width: 90% !important;
  }
  .login-popup .box-1 .img-area {
    display: none;
  }
  .login-popup .box-1 .form {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.social {
  margin-top: 25px;
}
.social a {
  color: #fff;
}
.social .fa {
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  background: #2db942;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  padding: 2px;
}
.social .fa.fa-envelope {
  background: #0195d5 !important;
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .login-popup .box-1 {
    min-width: 90% !important;
  }
}

#sto-marketing-services .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#sto-marketing-services .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#sto-marketing-services
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#sto-marketing-services .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#sto-marketing-services .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#sto-marketing-services .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#sto-marketing-services
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#sto-marketing-services .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#sto-marketing-services .types-sto > div {
  padding-bottom: 0px !important;
}

#sto-marketing-services .types-sto .technicalbox {
  background: #ffffff05;
  box-shadow: unset;
}

@media screen and (max-width: 425px) {
  #sto-marketing-services .types-sto {
    grid-row-gap: 0px !important;
  }
}

#sto-marketing-services .technicalbox {
  padding: 15px !important;
  margin-bottom: 10px !important;
}

#sto-marketing-services .space {
  padding: 5px;
}

#sto-marketing-services .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#sto-marketing-services .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#sto-marketing-services
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#sto-marketing-services .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#sto-marketing-services .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#sto-marketing-services .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#sto-marketing-services
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#sto-marketing-services .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#sto-marketing-services .Package_list img {
  /*border:1px solid #fff;
                border-radius: 150px;*/
}
#sto-marketing-services .Package_list {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 10px;
  /* max-width: 280px; */
  width: 25%;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  margin-bottom: 25px;
}
#sto-marketing-services .Package_list img {
  height: 55px;
}
@media screen and (max-width: 320px) {
  #sto-marketing-services .Package_list {
    width: 100%;
  }
}

#sto-marketing-services #newsletter-form-sec .form-group {
  margin-bottom: 7px;
}
#sto-marketing-services #mailForm_common .form-group label {
  color: #fff;
}
#sto-marketing-services .contact-content {
  padding-top: 40px;
  padding: 30px;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #f9f9f9;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);
  border-radius: 7px;
}
#sto-marketing-services .contact-content p {
  font-size: 18px;
  line-height: 30px;
}
#sto-marketing-services .contact-content a {
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}
#sto-marketing-services .contact-content a i {
  color: #47b475;
  font-size: 24px;
}
#sto-marketing-services .form-control {
  background: #fff;
}
#sto-marketing-services .pad-40-20 {
  padding: 25px 25px 0 25px;
}
#sto-marketing-services input#phone_common {
  background: #fff;
}
#sto-marketing-services #mailForm_common .form-group label {
  color: #fff;
}
#sto-marketing-services a.home-talk-experts {
  border-radius: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #sto-marketing-services .contact-content {
    margin-top: 20px;
    margin-left: 0;
    padding: 20px !important;
  }
  #sto-marketing-services .pad-40-20 {
    padding: 20px;
  }
  #sto-marketing-services .contact-content a {
    font-size: 14px;
  }
  #sto-marketing-services .sticky-form {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #sto-marketing-services .contact-content {
    margin-top: 20px;
    margin-left: 0;
  }
}
#sto-marketing-services .newsletter_videos h5 {
  color: #fff;
  font-size: 25px !important;
}
#sto-marketing-services h5.section-title {
  font-size: 27.46px;
}
#sto-marketing-services .client h5 {
  color: #444 !important;
}
#sto-marketing-services h5.common_h3 {
  font-size: 25px !important;
}

#sto-marketing-services .pull-right-tow {
  background-color: #ba3c0d;
  padding: 3px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 125px;
  position: absolute;
  right: 0;
  bottom: -35px;
}
#sto-marketing-services .pull-right-tow a {
  font-size: 12px;
}

#sto-marketing-services .header-nabar-icon .pull-right {
  background-color: #47b475;
  font-weight: 700;
  font-size: 15px;
  padding: 3px 15px;
  /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
  margin-right: 0px;
  position: absolute;
  right: 16px;
  bottom: -30px;
}

#sto-marketing-services .header-nabar-icon .pull-right a:hover {
  color: #fff !important;
}
#sto-marketing-services .header-nabar-icon .pull-right a,
.header-nabar-icon .pull-right-tow a {
  color: #fff;
}

#sto-marketing-services .sticky-form > .quick-cont-btn {
  top: 64vh;
  right: -60px;
  padding: 0px 20px;
}

@media (max-width: 320px) {
  #sto-marketing-services .header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }
  #sto-marketing-services .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}
@media (max-width: 768px) {
  #sto-marketing-services .header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }
  #sto-marketing-services .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}

#sto-marketing-services .color-btn {
  background-color: #1fd1f9 !important;
  background-image: -o-linear-gradient(
    135deg,
    #b621fe 0,
    #1fd1f9 74%
  ) !important;
  background-image: linear-gradient(315deg, #b621fe 0, #1fd1f9 74%) !important;
  border-radius: 7px;
  color: #fff;
}
#sto-marketing-services .color-btn1 {
  border: none;
  /*border-radius: 50px;*/
  transition: 0.3s;
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  /* clip-path: polygon(0% 0%,90% 0,100% 30%,100% 100%,0 100%); */
  animation: glow 1s infinite;
  transition: 0.5s;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
  font-size: 16px;
}
#sto-marketing-services .color-btn1:focus,
.color-btn1:hover {
  background-color: #47b475;
  transition: 0.5s;
}
#sto-marketing-services .color-btn1 span:hover {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 643px) {
  #sto-marketing-services .color-btn1 {
    padding: 9px 16px !important;
  }
}
@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(220, 41, 255), -5px -5px 20px rgb(220, 41, 255);
  }

  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}
#sto-marketing-services .sticky_form_bp {
  position: fixed;
  right: -80px !important;
  top: 250px;
  z-index: 10;
  background: #47b475;
  color: #fff;
  padding: 0px 15px 16px !important;
  text-transform: capitalize;
  font-weight: 700;
  transform: rotate(270deg) !important;
  cursor: pointer;
  font-size: 14px;
}

#sto-marketing-services .footer-wrap h6 {
  color: #fff;
  font-size: 23px;
}
#sto-marketing-services .footer-wrap h5 {
  margin: 10px 0;
  position: relative;
  text-transform: uppercase;
  padding-left: 10px;
  color: #fff;
  background: -webkit-linear-gradient(77deg, #00bcd4 0%, #17cc81 100%);
  background: -ms-linear-gradient(
    0deg,
    rgb(254, 66, 47) 0%,
    rgb(254, 81, 150) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.footer-wrap h5:after {
  content: "";
  width: 3px;
  height: 90%;
  background: #47b475;
  display: inline-block;
  float: left;
  position: absolute;
  margin-top: 0;
  margin-right: 6px;
  left: 0;
  top: 1px;
}

@media (min-width: 320px) and (max-width: 768px) {
  /*.openbtn1{width: 70px !important; top: 21% !important;}*/
}

/* The sidepanel menu */
#sto-marketing-services .sidepanel4 {
  height: auto; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Stay on top */
  top: 27%;
  left: 0;
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
#sto-marketing-services .sidepanel4 a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sto-marketing-services .sidepanel4 a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#sto-marketing-services .sidepanel4 .closebtn1 {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 44px;
  margin-left: 50px;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  background: #eb1e2d !important;
  line-height: 0.8em;
  font-weight: bold;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 70%);
}

/* Style the button that is used to open the sidepanel */
#sto-marketing-services .openbtn1 {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#sto-marketing-services .openbtn1:hover {
  background-color: transparent;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

#sto-marketing-services .close-btn {
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 99;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  box-shadow: 1px 1px 11px -3px #999;
  display: none;
  transition: all 2s;
  background-color: #89002a;
}
#sto-marketing-services .fixed-social {
  position: fixed;
  bottom: 42px;
  padding: 0px 10px;
  background: linear-gradient(2deg, black, #868686, black);
  transition: all 2s;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  box-shadow: 1px 1px 11px -3px #999; /*filter: drop-shadow(0 0 0.75rem crimson);*/
  display: flex !important;
  flex-wrap: wrap;
  z-index: 99;
  justify-content: center;
}
#sto-marketing-services .hide {
  opacity: 0;
  left: -100%;
}
#sto-marketing-services .show1 {
  opacity: 1;
  left: 50px;
}
#sto-marketing-services .fixed-social .items {
  margin: 0 auto;
}
#sto-marketing-services .fixed-social .items .icons {
  width: 55px;
  height: 55px;
  background: linear-gradient(45deg, black, transparent);
  padding: 5px;
  border-radius: 50%;
  margin: -17px 0;
  float: left;
}
#sto-marketing-services .fixed-social .items .icons i {
  padding: 9px;
  background: #00a7e7;
  border-radius: 50%;
  font-size: 26px;
  color: #fff;
}
#sto-marketing-services .fixed-social .items .text {
  padding-left: 60px;
  font-weight: bold;
  font-family: arial;
  font-size: 14px;
  color: #fff !important;
  line-height: 2.2em;
}
#sto-marketing-services .fixed-social .items a {
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  #sto-marketing-services .show1 {
    left: 20px;
  }
  #sto-marketing-services .close-btn {
    bottom: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #sto-marketing-services .fixed-social {
    bottom: 80px;
  }
  #sto-marketing-services .show1 {
    left: 50px;
  }
  #sto-marketing-services .close-btn {
    bottom: 60px;
    z-index: 999;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #sto-marketing-services .fixed-social .items .text {
    display: none;
  }
  #sto-marketing-services .fixed-social {
    bottom: 80px;
  }
  #sto-marketing-services .show1 {
    left: 12%;
  }
  #sto-marketing-services .fixed-social .items a {
    display: flex;
    justify-content: center;
  }
  #sto-marketing-services .close-btn {
    bottom: 60px;
    z-index: 999;
  }
}
