#ethereum-token-development .guardian-p {
    text-align: center;
    font-size: 12px;
}

/*-- Client section --*/
#ethereum-token-development .teck .category-grid-style-01 .category-item {
    padding: 10px !important;
}

#ethereum-token-development .category-item.aos-item .text-center {
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

#ethereum-token-development .teck .category-grid-style-01 .category-item .category-icon {
    margin-bottom: 0 !important;
}

#ethereum-token-development .teck .category-icon img {
    height: 80px !important;
}

/*-- Client section --*/

#ethereum-token-development .contentall a {
    margin: 10px;
    background: #47b475;
    padding: 10px 25px;
    font-weight: 700;
    display: inline-block;
}


#ethereum-token-development .form-right input.submit_send {
    width: 100% !important;
    margin: 0 !important;
    display: inline-block !important;
    background: #47b475 !important;
    color: #fff !important;
    border: 0 !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    padding: 10px 0 !important
}

#ethereum-token-development #pricing-section {
    padding: 60px 0
}

#ethereum-token-development svg path {
    fill: #47b475
}

#ethereum-token-development p strong {
    color: #000
}

#ethereum-token-development .timeline-center::before {
    background: #47b475 !important
}

#ethereum-token-development .flip-box {
    padding: 35px 10px;
    min-height: auto;
    margin-bottom: 35px;
    border-radius: 5px;
    border-bottom: 2px solid #47b47566
}

#ethereum-token-development .flip-tit {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000
}

#ethereum-token-development .flip-icon-outer {
    padding: 0;
    width: 100px;
    height: 100px
}

@media (max-width:767px) {
    #ethereum-token-development .main {
        overflow-x: hidden
    }

    #ethereum-token-development .timeline-center::before {
        height: 100%
    }
}

@media (max-width:767px) {
    #ethereum-token-development .flip-tit {
        font-size: 14px;
        line-height: 21px
    }

    #ethereum-token-development .flip-box {
        padding: 30px 10px 0;
        min-height: 200px
    }

    #ethereum-token-development .tm-detail.tm-det.tm-det-left,
    #ethereum-token-development .tm-detail.tm-det.tm-det-right {
        max-width: 450px;
        margin: 0 auto 20px !important;
        width: 100%
    }
}

#ethereum-token-development .flip-box i {
    color: #47b474;
    font-size: 35px;
    line-height: 70px
}

#ethereum-token-development .timeline-row i {
    color: #47b474;
    font-size: 30px;
    line-height: 1
}

#ethereum-token-development .contentall p {
    font-weight: 700
}

#ethereum-token-development  .banner_content {
    text-align: left;
    position: relative;
    top: 0;
    transform: none
}

#ethereum-token-development .banner_content .contentall {
    margin-top: 110px;
    padding: 0;
}

#ethereum-token-development .banner_content h4 {
    font-size: 30px;
    color: #fff;
    line-height: 60px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid
}

#ethereum-token-development h4.sec_sub {
    font-size: 23px;
    font-weight: 700;
    color: #029870;
    margin-bottom: 10px;
    text-transform: capitalize
}

#ethereum-token-development .uniq_features ul {
    padding-left: 15px
}

#ethereum-token-development .uniq_features ul li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 29px
}

#ethereum-token-development .uniq_features ul li:after {
    font-family: FontAwesome;
    top: 4px;
    right: 0;
    padding-right: 10px;
    content: "\f0a9";
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #03b787
}

#ethereum-token-development .uniq_features p b {
    font-size: 18px
}

#ethereum-token-development .flip-tit {
    font-size: 18px;
    margin-bottom: 10px;
    color: #328455;
    letter-spacing: 0;
    font-weight: 600;
    text-transform: capitalize
}

#ethereum-token-development .diif_type .white-flip-box.flip-box {
    position: relative;
    text-align: left;
    padding-left: 115px;
    border: none
}

#ethereum-token-development .diif_type .white-flip-box .flip-icon-outer {
    position: absolute;
    left: 15px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 10px
}

#ethereum-token-development .diif_type .white-flip-box img {
    top: 10px
}

#ethereum-token-development .diif_type h5.flip-tit {
    font-weight: 600;
    letter-spacing: 0
}

#ethereum-token-development .section-title,
#ethereum-token-development h2.common_h3 {
    text-transform: capitalize;
    letter-spacing: 0;
    color: #000;
    font-weight: 700
}

#ethereum-token-development .banner {
    background-image: url(images/ethereum/ethereum_token.webp);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 0;
    background-position: center center;
    height: 600px;
    position: relative
}

#ethereum-token-development .contentall h1 {
    margin-bottom: 25px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Roboto, sans-serif;
    font-size: 40px
}

#ethereum-token-development .banner:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #00327ffa, #8d1462);
    opacity: .9
}

#ethereum-token-development .contentall p {
    margin-bottom: 40px;
    font-size: 15px
}

#ethereum-token-development .flip-icon-outer img {
    height: 60px;
    position: relative;
    top: 19px
}

#ethereum-token-development .flip-txt {
    font-size: 14px
}

#ethereum-token-development p strong {
    color: #000
}

#ethereum-token-development h2.common_h3.small_head {
    font-size: 25px
}

#ethereum-token-development .timeline-center .timeline-row:nth-of-type(odd) .tm-detail {
    margin-bottom: 10px
}

#ethereum-token-development .ben_sec li {
    background: #04bdb70d;
    margin-bottom: 21px;
    border-left: 4px solid #17b5587a;
    font-weight: 700;
    font-size: 15px
}

#ethereum-token-development .ben_sec li i {
    color: #17b559;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 17px;
    width: 50px;
    text-align: center;
    height: 50px;
    background: #f5f5f5;
    padding: 10px;
    line-height: 33px
}

#ethereum-token-development .ben_sec ul {
    padding-left: 0
}

#ethereum-token-development ul.process-list {
    margin-bottom: 0
}

#ethereum-token-development .timeline-center .timeline-row:nth-of-type(even) .tm-detail {
    margin-bottom: 0
}

#ethereum-token-development .tm-det {
    width: 100%
}

#ethereum-token-development .sub_tit {
    font-size: 17px;
    max-width: 900px;
    margin: 0 auto;
    font-weight: 400
}

#ethereum-token-development .reas_sec {
    position: relative
}

#ethereum-token-development .reas_sec:after {
    content: '';
    width: 48%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(images/ethereum/reason_ethereum_token.webp) center center;
    height: 100%;
    background-size: cover
}

@media only screen and (max-width:992px) {
    #ethereum-token-development h2.common_h3 br {
        display: none
    }

    #ethereum-token-development .banner {
        height: auto;
        padding-bottom: 0
    }

    #ethereum-token-development .banner_content .contentall {
        margin-top: 40px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    #ethereum-token-development .p2b_ban img {
        max-width: 80%;
        margin-top: 20px
    }

    #ethereum-token-development .contentall h1 {
        font-size: 30px
    }

    #ethereum-token-development .contentall p {
        margin-bottom: 20px;
        margin: 0 0 25px 0;
        text-align: center;
        font-size: 15px !important;
        line-height: 1.5
    }

    #ethereum-token-development h2.common_h2,
    #ethereum-token-development h3.common_h3 {
        font-size: 25px !important
    }
}

@media only screen and (max-width:768px) {
    #ethereum-token-development .banner {
        padding-top: 30px
    }

    #ethereum-token-development .diif_type .white-flip-box .flip-icon-outer {
        width: 65px;
        height: 65px
    }

    #ethereum-token-development .diif_type .white-flip-box img {
        top: 13px
    }

    #ethereum-token-development .flip-icon-outer img {
        height: 42px
    }

    #ethereum-token-development .diif_type .white-flip-box.flip-box {
        padding-left: 90px
    }

    #ethereum-token-development .reas_sec:after {
        display: none
    }

    #ethereum-token-development .sub_tit {
        font-size: 15px;
        color: #000
    }

    #ethereum-token-development .flip-box {
        padding: 30px 10px 0;
        min-height: 200px;
        max-width: 450px;
        margin: 0 auto 30px;
        padding-bottom: 30px
    }

    #ethereum-token-development .flip-tit {
        font-size: 18px;
        line-height: 21px
    }

    #ethereum-token-development h2.common_h2,
    #ethereum-token-development h3.common_h3 {
        font-size: 25px !important;
        line-height: 1.5;
        margin-bottom: 30px
    }
}

#ethereum-token-development .font-wei {
    color: #161515 !important;
    font-weight: 700 !important
}

#ethereum-token-development .text-sze {
    font-size: 14px;
    color: #000
}

#ethereum-token-development .feature:hover .flip-icon-outer {
    background: #47b475 !important
}

#ethereum-token-development .feature:hover img {
    transition: .5 ease-in-out;
    transform: rotateY(180deg)
}

#ethereum-token-development .feature1:hover {
    background: #47b475
}

#ethereum-token-development .feature1:hover .flip-tit {
    color: #fff
}

#ethereum-token-development .feature1:hover .flip-txt {
    color: #fff
}

#ethereum-token-development .social {
    margin-top: 25px;
}

#ethereum-token-development .social a {
    color: #fff;
}

#ethereum-token-development .social .fa {
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #fff;
    background: #2db942;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    padding: 2px;
}

#ethereum-token-development .social .fa.fa-envelope {
    background: #0195d5 !important;
}

@media screen and (min-width:768px) and (max-width:900px) {
    #ethereum-token-development .login-popup .box-1 {
        min-width: 90% !important;
    }

    #ethereum-token-development .popup-ul li p {
        font-size: 12px;
    }
}

#ethereum-token-development section#counter-stats {
    /* display: flex; */
    justify-content: center;
    margin-top: 0;
    /* padding: 3rem 0; */
    background: rgb(26 26 26);
    color: #fff;
}

#ethereum-token-development .stats {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 1rem 0;

}

#ethereum-token-development .stats .fa {
    color: #008080;
    font-size: 60px;
}

#ethereum-token-development .stats p {
    font-size: 14px;
    margin-bottom: 0;
}

#ethereum-token-development #counter-stats .stats:nth-child(1) {
    background: #00cbd7;
}

#ethereum-token-development #counter-stats .stats:nth-child(2) {
    background: #14e5f1;
}

#ethereum-token-development #counter-stats .stats:nth-child(3) {
    background: #00cbd7;
}

#ethereum-token-development #counter-stats .stats:nth-child(4) {
    background: #14e5f1;
}


#ethereum-token-development .client-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#ethereum-token-development .client-list li {
    width: 10%;
    margin: 25px 1%;
    padding: 0 10px;
}

#ethereum-token-development .client-list li img {
    filter: grayscale(1);
}

@media (min-width: 320px) and (max-width: 768px) {
    #ethereum-token-development .client-list li {
        width: 31%;
        margin: 15px 1%;
    }
}

#ethereum-token-development .pull-right-tow {
    background-color: #ba3c0d;
    padding: 3px 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 125px;
    position: absolute;
    right: 0;
    bottom: -35px;
}

#ethereum-token-development .pull-right-tow a {
    font-size: 12px;
}
