.bottom-footer-wrap {
  display: flex;
  /* height: 70px; */
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
  background-color: #fff;
}
@keyframes fadeInOut {
  0% {
    opacity: 0.8;
    box-shadow: 0 0 10px 5px #1d93d2; /* Adjust the glow effect */
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 20px 10px #1d93d2; /* Adjust the glow effect */
  }
  100% {
    opacity: 0.8;
    box-shadow: 0 0 10px 5px #1d93d2; /* Adjust the glow effect */
  }
}
.bottom-footer-wrap .one {
  flex: 1;
  background: linear-gradient(0deg, #1d93d2 0%, #38b0e3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  animation: fadeInOut 2s infinite; 
}
.bottom-footer-wrap a {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.bottom-footer-wrap a:hover {
  color: #fff !important;
}
.bottom-footer-wrap img {
  height: 60%;
}
.bottom-footer-wrap .one:hover {
  box-shadow: 0px 0px 35px 3px #2a317d;
  transform: scale(1);
}
@keyframes glowTwo {
  0% {
    opacity: 0.8;
    box-shadow: 0 0 20px 5px #25d366;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 20px 10px #25d366;
  }
  100% {
    opacity: 0.8;
    box-shadow: 0 0 10px 5px #25d366;
  }
}
.bottom-footer-wrap .two {
  flex: 1;
  background: linear-gradient(90deg, #25d366 0%, #199748 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  animation: glowTwo 2s infinite; /* Adjust the duration as needed */
}
/*  */
.bottom-footer-wrap .two:hover {
  box-shadow: 0px 0px 35px 3px #2a317d;
  transform: scale(1);
}

@keyframes glowThree {
  0% {
    opacity: 0.8;
    box-shadow: 0 0 5px 3px #4418ad; /* Adjust the glow effect */
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 10px 5px #4418ad; /* Adjust the glow effect */
  }
  100% {
    opacity: 0.8;
    box-shadow: 0 0 5px 3px #4418ad; /* Adjust the glow effect */
  }
}
.bottom-footer-wrap .three {
  flex: 1;
  background: #4418ad;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  animation: glowThree 2s infinite;
}

.bottom-footer-wrap .three:hover {
  box-shadow: 0px 0px 35px 3px #2a317d;
  transform: scale(1);
}
@keyframes glowFour {
  0% {
    opacity: 0.8;
    box-shadow: 0 0 5px 3px #f9c627; /* Adjust the glow effect */
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 10px 5px #f9c627; /* Adjust the glow effect */
  }
  100% {
    opacity: 0.8;
    box-shadow: 0 0 5px 3px #f9c627; /* Adjust the glow effect */
  }
}
.bottom-footer-wrap .four {
  flex: 1;
  background: linear-gradient(90deg, #f9c627 0%, #c29814 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  animation: glowFour 2s infinite;
}

.bottom-footer-wrap .four:hover {
  box-shadow: 0px 0px 35px 3px #2a317d;
  transform: scale(1);
}

@media (max-width: 767px) {
  .bottom-footer-wrap {
    height: 45px;
  }
  .bottom-footer-wrap .one {
    gap: 10px;
  }
  .bottom-footer-wrap .two {
    justify-content: space-evenly;
  }
  .bottom-footer-wrap .three {
    justify-content: space-evenly;
  }
  .bottom-footer-wrap .four {
    justify-content: space-evenly;
  }
  .bottom-footer-wrap .two {
    gap: 2px;
  }
  .bottom-footer-wrap .three {
    gap: 2px;
  }
  .bottom-footer-wrap .four {
    gap: 2px;
  }
  .bottom-footer-wrap img {
    height: 30%;
  }
  .bottom-footer-wrap a {
    font-size: 13px;
  }
}
