#ico-development .top-header p {
    margin-bottom: 0;
    color: #fff;
    display: inline-block;
    width: auto
}

#ico-development .lc-1ip30wz {
    height: 30px !important
}

#ico-development .top-header {
    background: #378658;
    padding: 10px
}

#ico-development .guardian-p {
    text-align: center;
    font-size: 12px;
}

/*-- Client section --*/
#ico-development .teck .category-grid-style-01 .category-item {
    padding: 10px !important;
}

#ico-development .category-item.aos-item .text-center {
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

#ico-development .teck .category-grid-style-01 .category-item .category-icon {
    margin-bottom: 0 !important;
}

#ico-development .teck .category-icon img {
    height: 80px !important;
}

/*-- Client section --*/

#ico-development .technicalbox {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    margin-bottom: 30px;
    position: relative;
    padding: 15px;
    min-height: 342px;
}

#ico-development .data table td,
#ico-development .data table th {
    padding: 10px 25px;
}

#ico-development .common_h3 {
    font-size: 25px;
}

#ico-development .connect-with {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#get-quote .formdiv form {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    background: #f3f3f3;
    width: 100%;
    display: inline-block;
    padding: 50px 0 0px 50px;
}

#ico-development .timeline-center::before {
    background: #47b475 !important;
}


#ico-development h1.btc {
    font-size: 40px;
    font-weight: 100;
    color: #47b475;
    font-family: sans-serif;
}

#ico-development .technicalbox h3,
#ico-development .technicalbox h4 {
    font-size: 15px;
    text-transform: capitalize;
}

#ico-development .feature-box-3 .icon {
    margin: -50px auto 15px auto;
}

#ico-development .feature-box-3 .icon {
    background: #f2f2f2;
    padding: 0px;
}

#ico-development .contentall {
    padding-top: 60px;
}

#ico-development .contentall h1 {
    /*font-size: 45px;*/
    line-height: 40px;
}

a.home-talk-experts.launch {
    padding: 11px 57px;
    margin: 13px;
}

#ico-development .contentall p:first-child {
    font-size: 24px;
}

#ico-development .contentall p {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

#ico-development a.launch {
    margin: 0 0 15px 15px;
    padding: 11px 46px;
}

#ico-development .gray_bg .technicalbox.text-center {
    background: #fff !important;
}

#post-ico-services .technicalbox {
    background: #f3f3f3;
}

#ico-development .grids .grid .technicalbox .technical-icon span i {
    padding: 25px;
}

#ico-development .benifits-ico ul li {
    font-size: 16px;
    margin: 25px 0;
    color: #fff;
}

#ico-development .benifits-ico ul li img {
    width: 35px;
    margin-right: 20px;
}

#ico-development .benifits-ico ul.ul-style-4 li i {
    color: #fff;
    border-color: #fff;
    font-size: 13px;
    width: 25px;
    height: 25px;
    line-height: 23px;
}

#ico-development .benifits-ico .left {
    padding-left: 150px;
}

#ico-development .benifits-ico .right {
    padding-left: 75px;
}

#ico-development .benifits-ico ul {
    color: #fff;
    padding-left: 0;
}

#ico-development .pricing_videos iframe {
    width: 100%;
    height: 310px;
}

#ico-development .thumb {
    position: relative;
}

#ico-development .photo {
    position: absolute;
    width: 40px;
    height: 28px;
    left: 45%;
    top: 40%;
}

#ico-development .thumb:hover .photo {
    background-position: 0 -252px;
}

#ico-development .play {
    -webkit-animation: breathing 1s infinite ease-in-out;
    animation: breathing 1s infinite ease-in-out;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    background: url(/public/assets/images/play.webp) no-repeat 0 0;
    width: 40px;
    height: 28px;
    left: 45%;
    top: 40%;
    background-position: 0 -252px;
}

#ico-development .thumb:hover .play {
    background-position: 0 -252px;
}

#ico-development .w-260 {
    width: 280px;
}

#pre-ico-services .technicalbox {
    background: #eee;
    border: 2px solid #47b4756b;
}

#ico-development .btn-prop {
    border-radius: 30px !important;
    font-size: 11px;
    text-transform: uppercase !important;
    transform: scale(1, 1) !important;
    transition: all 0.3s ease-out 0s !important;
}

#ico-development .btn-prop:hover {
    transform: scale(0.9, 0.9) !important;
    color: #fff !important;
    background: #00a9e2 !important;
}

#ico-development .initiate .tm-detail p,
#ico-development .launch-serv .feature-desc {
    color: #000000 !important;
}

#ico-development .initiate .timeline-row .tm-detail {
    transition: all 0.3s ease-out 0s !important;
}

#ico-development .initiate .timeline-row .tm-detail:hover {
    border-end-end-radius: 20px;
    border-start-start-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #f8f8f8;
    transition: all 0.3s ease-out 0s !important;
}

#ico-development .ico-dev .dev-service {
    padding: 20px;
    transition: all 0.3s ease-out 0s !important;
}

#ico-development .ico-dev .dev-service:hover {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

#ico-development .launch-serv .feature-box-3 {
    transition: all 0.8s ease-out 0s !important;
}

#ico-development .launch-serv .feature-box-3:hover>.icon {
    background: #47b475;
    color: #fff;
    transition: all 0.8s ease-out 0s !important;
}

@media (max-width: 1200px) {
    #our_services .grid .feature-box-3 {
        min-height: 200px;
    }

    #ico-development #pre-ico-services .technicalbox {
        min-height: 410px;
    }

    #ico-development #post-ico-services .technicalbox {
        min-height: 430px;
    }

    #ico-development .benifits-ico .left {
        padding-left: 110px;
    }
}

@media (max-width: 991px) {
    #ico-development #pre-ico-services .technicalbox {
        min-height: 350px;
    }

    #ico-development .banner {
        height: 500px;
    }

    #ico-development .benifits-ico .left {
        padding-left: 0;
    }

    #ico-development a[type="button"] {
        font-size: 12px;
    }

    #ico-development .pricing_videos a.home-talk-experts {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #ico-development .contentall h1 {
        font-size: 30px;
        line-height: 30px;
    }

    #ico-development .contentall p {
        font-size: 13px;
    }

    #ico-development .contentall p:first-child {
        font-size: 16px;
    }

    #ico-development .benifits-ico .right {
        padding-left: 0;
    }

    #ico-development .benifits-ico h4 {
        font-size: 13px;
    }

    #ico-development .benifits-ico ul li {
        font-size: 12px;
    }

    #ico-development .benifits-ico ul.ul-style-4 li i {
        font-size: 10px;
        width: 20px;
        height: 20px;
        line-height: 16px;
    }

    #ico-development .pricing_videos a.home-talk-experts {
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
        text-align: center;
        width: auto;
    }

    #ico-development .timeline-center .timeline-row:nth-of-type(odd),
    #ico-development .timeline-center .timeline-row:nth-of-type(even) {
        flex-direction: column;
    }
}

@media (max-width: 610px) {
    #ico-development a.launch {
        margin: 0 0 15px 0;
    }
}

@media (max-width: 479px) {
    #ico-development .contentall h1 {
        font-size: 18px;
        line-height: 24px;
    }

    #ico-development .contentall p {
        font-size: 13px;
    }

    #ico-development .contentall p:first-child {
        font-size: 12px;
    }
}

#ico-development .banner_content {
    padding-top: 100px;
}

#ico-development .m-0 {
    margin: 0px !important;
}

#ico-development .banner-buttons-new a {
    margin-bottom: 15px !important;
    display: inline-block;
}

#ico-development .banner-buttons-new a:last-child {
    margin-bottom: 0 !important;
}

#ico-development .button-group {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#ico-development .button-group a {
    cursor: pointer;
    padding: 10px 25px;
    color: #ffffff;
    background: #47b475;
    border-radius: 0;
}

#ico-development .button-group a:hover {
    color: #ffffff !important;
}

#ico-development .button-group a i {
    margin-left: 10px;
}

#ico-development .button-group a svg {
    vertical-align: middle;
}

#ico-development .button-group a svg .download_effect {
    -webkit-animation: downloadripple 1s ease-in-out infinite;
    animation: downloadripple 1s ease-in-out infinite;
    position: relative;
}

#ico-development .ico-development-img {
    animation-name: movement;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}

#ico-development .button-group a svg path {
    fill: #ffffff;
}

#ico-development .button-group a svg polygon {
    fill: #ffffff;
}

#ico-development .large-header:before {
    position: absolute;
    content: "";
    background: rgb(1 8 33 / 95%);
    z-index: 10;
    left: 0;
    top: auto;
    width: 100%;
    height: 100%;
}

#ico-development .contentall p {
    font-weight: 700;
}

/* #ico-development #accordion .panel {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}

#ico-development #accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 3px;
}

#ico-development #accordion .panel-title a {
    display: block;
    padding: 12px 15px 12px 50px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    position: relative;
}

#ico-development #accordion .panel-title a:before {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #47b475;
    font-size: 12px;
    font-weight: 900;
    color: #fdfbfb;
    text-align: center;
    text-shadow: none;
    position: absolute;
    top: 13px;
    left: 10px;
}

#ico-development #accordion .panel-title a.collapsed:before {
    content: "\f067";
    color: #fff;
    background: #333;
}

#ico-development #accordion .panel-body {
    padding: 10px 15px;
    font-size: 15px;
    color: #000000;
    line-height: 27px;
    border: 2px solid #ddd;
} */

#ico-development .feature-title {
    font-size: 18px;
    margin-bottom: 10px;
}

#ico-development .tm-detail h3 {
    font-size: 18px;
}

#ico-development .feature-box-3 {
    border: 2px solid #47b475a3;
}

#ico-development .feature-box-3 .feature-desc {
    color: #000000;
}

#ico-development .timeline-center .timeline-row:nth-of-type(odd) .tm-detail {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

#ico-development .timeline-center .timeline-row:nth-of-type(even) .tm-detail {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

#ico-development .ico-btn {
    border-radius: 30px !important;
    transform: scale(0.9) !important;
}

#ico-development .download-kit-btn {
    border-radius: 30px !important;
}

#ico-development .download-kit-btn:hover {
    transform: scale(0.9);
    background: #00a9e2;
    color: #ffffff;
}

#ico-development .bgg_gray {
    background: #4caf501f;
}

#ico-development .serviceBox {
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}

#ico-development .serviceBox:before {
    content: "";
    width: 60px;
    height: 60px;
    background: #47b475;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 1;
}

#ico-development .serviceBox .service-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #47b475;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}

#ico-development .serviceBox .service-content {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #d5d5d5 #d5d5d5 #47b475;
    background-color: #fff;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
}

#ico-development .serviceBox .title {
    text-align: center;
}

#ico-development .serviceBox .description {
    text-align: justify;
}

#ico-development .serviceBox:hover .service-content {
    background: #f2f2f2;
    border-color: #47b475;
}

#ico-development .serviceBox:hover .service-icon {
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.54, .085, .5, .92);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
        transition: transform 1.4s .6s linear, -webkit-transform 1.4s .6s linear;
    }

    100% {
        transform: translateY(0);
    }
}

#ico-development .serviceBox .title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding-left: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out 0s;
}

#ico-development .serviceBox:hover .title {
    color: #000;
}

#ico-development .serviceBox .description {
    font-size: 14px;
    color: #000;
    margin: 0;
}

@media only screen and (max-width:990px) {
    #ico-development .serviceBox {
        margin-bottom: 20px;
    }
}

@media (min-width:991px) and (max-width:1198px) {
    #ico-development .serviceBox .service-content {
        min-height: 245px;
    }
}

@media only screen and (min-width:1199px) {
    #ico-development .serviceBox .service-content {
        min-height: 340px;
    }
}

#ico-development .rounded-border {
    border-radius: 10px;
}


#ico-development .projectFactsWrap {
    display: flex;
    margin-top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
}

#ico-development #projectFacts .fullWidth {
    padding: 0;
}

#ico-development .projectFactsWrap .item {
    width: 33.3%;
    height: 100%;
    padding: 18px 0px;
    text-align: center;
}

#ico-development .projectFactsWrap .item:nth-child(1) {
    background: #47b475;
}

#ico-development .projectFactsWrap .item:nth-child(2) {
    background: #3a9d64;
}

#ico-development .projectFactsWrap .item:nth-child(3) {
    background: #478f65;
}

#ico-development .projectFactsWrap .item:nth-child(4) {
    background: rgb(23, 44, 66);
}

#ico-development .projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
    margin-bottom: 2rem;
}

#ico-development .projectFactsWrap .item p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans';
}


#ico-development .projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}


#ico-development .projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
}


#ico-development .projectFactsWrap .item:hover i,
#ico-development .projectFactsWrap .item:hover p {
    color: white;
}

#ico-development .projectFactsWrap .item:hover span {
    background: white;
}

@media (max-width: 786px) {
    #ico-development .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}

#ico-development section#counter-stats {
    /* display: flex; */
    justify-content: center;
    margin-top: 0;
    /* padding: 3rem 0; */
    background: rgb(26 26 26);
    color: #fff;
}

#ico-development .stats {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 1rem 0;

}

#ico-development .stats .fa {
    color: #008080;
    font-size: 60px;
}

#ico-development .stats p {
    font-size: 14px;
    margin-bottom: 0;
}

#ico-development #counter-stats .stats:nth-child(1) {
    background: #00cbd7;
}

#ico-development #counter-stats .stats:nth-child(2) {
    background: #14e5f1;
}

#ico-development #counter-stats .stats:nth-child(3) {
    background: #00cbd7;
}

#ico-development #counter-stats .stats:nth-child(4) {
    background: #14e5f1;
}

#ico-development .client-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#ico-development .client-list li {
    width: 10%;
    margin: 25px 1%;
    padding: 0 10px;
}

#ico-development .client-list li img {
    filter: grayscale(1);
}

@media (min-width: 320px) and (max-width: 768px) {
    #ico-development .client-list li {
        width: 31%;
        margin: 15px 1%;
    }
}

 #ico-development .text-center {

    text-align: center !important;
}

#ico-development .design {
    background: #000;
    border-radius: 20px;
    padding: 5px 0 1px;
    margin: 15px auto;
}

#ico-development .design h5,
#ico-development .design p {
    color: #fff
}

#ico-development #demo {
    padding: 30px 0;
}

#ico-development #demo .container {
    padding: 40px 0;
    border: 5px solid #eee;
    border-radius: 15px;
}

#ico-development .pull-right-tow {
    background-color: #ba3c0d;
    padding: 3px 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 125px;
    position: absolute;
    right: 0;
    bottom: -35px;
}

#ico-development .pull-right-tow a {
    font-size: 12px;
}

#ico-development .sticky_form_bp {
    position: fixed;
    right: -80px !important;
    top: 250px;
    z-index: 10;
    background: #47b475;
    color: #fff;
    padding: 0px 15px 16px !important;
    text-transform: capitalize;
    font-weight: 700;
    transform: rotate(270deg) !important;
    cursor: pointer;
    font-size: 14px;
}