#not-found {
  background-color: #00b7c2;
  color: #fff;
  padding-bottom: 0;
  min-height: 100%;
  font-family: "Open Sans", "Segoe UI";
  font-size: 13px;
  font-family: "Lato", sans-serif;
}
#not-found h2 {
  color: #fff;
}
@media (max-width: 767px) {
  #not-found .error-container h1 {
    font-size: 80px !important;
    margin: -90px 0 0 0 !important;
  }
  #not-found h2 {
    font-size: 45px !important;
  }
  #not-found .error-container p.description {
    font-size: 20px !important;
  }
}
#not-found .error-header {
  background: #fff;
  height: 180px;
}

#not-found .error-container {
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
}

#not-found .error-container h1 {
  color: #000000b4;
}

#not-found .error-container h1 {
  font-size: 110px;
  font-weight: 300;
  margin: -123px 0 0 0;
  text-align: center;
}

#not-found .error-divider {
  margin-top: -27px;
  padding: 30px 0;
}

#not-found .error-container h2 {
  font-size: 58px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

#not-found .error-container p.description {
  color: #e5e5e5;
  font-size: 40px;
  margin: 0;
}

#not-found .return-btn,
.return-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  margin-top: 100px;
  margin-bottom: 30px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

#not-found a:hover {
  text-decoration: none;
}
