#white-label-ido-launchpad .top-header p {
  margin-bottom: 0;
  color: #fff;
  display: inline-block;
  width: auto;
}
.lc-1ip30wz {
  height: 30px !important;
}
.top-header {
  background: #378658;
  padding: 10px;
}
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.top-header .breathing_effect {
  -webkit-animation: breathing 1s infinite ease-in-out;
  animation: breathing 1s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  transition: 1s;
  display: inline-block;
  width: auto;
}
.top-header .breathing_effect a {
  background: #f44336;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  margin-left: 15px;
}
.top-header .breathing_effect a:hover {
  color: #fff !important;
}
@media (max-width: 1199px) {
  .header .main-menu > li a {
    padding: 0 5px;
  }
}
@media (max-width: 550px) {
  .top-header p {
    width: 60%;
    text-align: right;
    vertical-align: middle;
  }
  .top-header .breathing_effect {
    display: inline-block;
    width: 40%;
  }
}
#white-label-ido-launchpad .guardian-p {
  text-align: center;
  font-size: 12px;
}
/*-- Client section --*/
#white-label-ido-launchpad .teck .category-grid-style-01 .category-item {
  padding: 10px !important;
}
#white-label-ido-launchpad .category-item.aos-item .text-center {
  font-size: 12px !important;
  margin-bottom: 0px !important;
}
#white-label-ido-launchpad
  .teck
  .category-grid-style-01
  .category-item
  .category-icon {
  margin-bottom: 0 !important;
}
#white-label-ido-launchpad h1,
#white-label-ido-launchpad h2,
#white-label-ido-launchpad h3,
#white-label-ido-launchpad h4,
#white-label-ido-launchpad h5,
#white-label-ido-launchpad h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0px !important;
}
#white-label-ido-launchpad .contentall {
  padding: 0;
}
#white-label-ido-launchpad #demo .container {
  border: 0;
  padding: 0;
}
#white-label-ido-launchpad .teck .category-icon img {
  height: 80px !important;
}
/*-- Client section --*/

#white-label-ido-launchpad h1,
#white-label-ido-launchpad h2,
#white-label-ido-launchpad h3,
#white-label-ido-launchpad h4,
#white-label-ido-launchpad h5,
#white-label-ido-launchpad h6 {
  letter-spacing: 0;
  line-height: 1.3;
}

#white-label-ido-launchpad .contentall a:hover {
  background: #00acdc;
}

#white-label-ido-launchpad .banner {
  background-image: url(./assets/images/banner-bg27.webp);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
}

#white-label-ido-launchpad .banner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #00000000, #00000000);
  opacity: 0.95;
}

#white-label-ido-launchpad .banner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 0%);
}

#white-label-ido-launchpad .banner_content {
  text-align: left;
  position: relative;
  top: 0;
  transform: none;
}

#white-label-ido-launchpad .banner_content .contentall {
  margin-top: 85px;
}

#white-label-ido-launchpad .ban_tirt,
#white-label-ido-launchpad .contentall h1 {
  margin-bottom: 20px;
  line-height: 1.3;
  font-weight: 700;
  font-size: 30px;
}

#white-label-ido-launchpad .contentall h1 {
  color: #fff;
}

#white-label-ido-launchpad .contentall p {
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 21px;
  margin: 0 auto 30px;
  display: block;
}

#white-label-ido-launchpad .contentall a {
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
}

#white-label-ido-launchpad .sec_tit,
#white-label-ido-launchpad .sec_tit h2,
#white-label-ido-launchpad .sec_tit h3,
#white-label-ido-launchpad .sec_tit h4,
#white-label-ido-launchpad .sec_tit h5,
#white-label-ido-launchpad .sec_tit h6 {
  font-size: 25px !important;
  font-weight: 700;
  color: #000000;
  line-height: 1.4;
}

@media (max-width: 1199px) {
  #white-label-ido-launchpad .ban_tirt,
  #white-label-ido-launchpad .contentall h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #white-label-ido-launchpad .banner_content .contentall {
    margin-top: 50px;
    text-align: center;
  }

  #white-label-ido-launchpad .banner-overlay {
    background: #000000b8;
  }
  #white-label-ido-launchpad .banner_content p {
    font-size: 14px !important;
  }
  #white-label-ido-launchpad .ban_tirt,
  #white-label-ido-launchpad .contentall h1 {
    font-size: 20px;
  }
  #white-label-ido-launchpad .sec_tit,
  #white-label-ido-launchpad .sec_tit h2 {
    font-size: 20px !important;
  }
  #white-label-ido-launchpad .sec_tit {
    font-size: 20px !important;
  }
}

#white-label-ido-launchpad a.home-talk-experts.w_bt {
  background: no-repeat;
  color: #47b475;
  border: 2px solid #47b475;
  padding: 8px 25px;
}

#white-label-ido-launchpad a.home-talk-experts.w_bt:hover {
  color: #000 !important;
}

#white-label-ido-launchpad .rounded-border {
  border-radius: 10px;
}

#white-label-ido-launchpad .cta_01 {
  padding: 80px 0px;
  background-image: url(./assets/images/sec-bg5.webp);
  background-position: center;
  background-repeat: no-repeat;
}
#white-label-ido-launchpad .cta_01 h2 {
  color: #ffffff;
}
#white-label-ido-launchpad .cta_02 {
  padding: 80px 0px;
  background-image: url(./assets/images/sec-bg6.webp);
  background-position: center;
  background-repeat: no-repeat;
}
#white-label-ido-launchpad .cta_02 h2 {
  color: #ffffff;
}
#white-label-ido-launchpad .cta_03 {
  padding: 40px 0px;
  background-image: linear-gradient(234deg, #0618594d, #00000069),
    url(./assets/images/sec-bg7.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#white-label-ido-launchpad .cta_03 h2 {
  padding: 20px 0;
}
#white-label-ido-launchpad .cta_03 h2,
.cta_03 p {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  #white-label-ido-launchpad .cta_01 {
    padding: 50px 0px;
  }
  #white-label-ido-launchpad .cta_02 {
    padding: 50px 0px;
  }
  #white-label-ido-launchpad .cta_01 h2 {
    text-align: center !important;
    margin-bottom: 10px;
  }
  #white-label-ido-launchpad .cta_02 h2 {
    text-align: center !important;
    margin-bottom: 10px;
  }
}

#white-label-ido-launchpad .primary_list {
  margin-top: 0rem;
  margin-bottom: 0rem !important;
  font-size: 14px;
  line-height: 36px;
  text-indent: -17px;
  list-style: none;
}
#white-label-ido-launchpad .list li {
  word-break: break-word;
}
#white-label-ido-launchpad .primary_list li:before {
  content: " \f0da ";
  font-family: FontAwesome;
  color: #47b475;
  margin-right: 10px;
  font-size: 18px;
}
#white-label-ido-launchpad .testimonials-item .user {
  width: 70px;
  height: 70px;
  position: relative;
  position: absolute;
  top: -10px;
  left: 25px;
  z-index: 3;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  overflow: hidden;
  background: #86938c6b;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
  line-height: 80px;
  text-align: center;
}

#white-label-ido-launchpad .testimonials-item {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

#white-label-ido-launchpad .testimonials-item .user img {
  width: 55px;
  margin-top: -10px;
}

#white-label-ido-launchpad .testimonials-item .testimonials-content {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
  border-radius: 5px;
  position: relative;
  height: 100%;
  min-height: 220px;
}

#white-label-ido-launchpad .testimonials-item:hover h3 {
  color: #fff !important;
}

#white-label-ido-launchpad .testimonials-item:hover p {
  color: #fff !important;
}

#white-label-ido-launchpad .testimonials-item .testimonials-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #52cb85eb !important;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

#white-label-ido-launchpad .testimonials-item .testimonials-content .user-name {
  display: block;
  font-weight: 700;
  font-size: 19px;
  color: #000000;
  margin-top: 20px;
  padding-left: 115px;
  letter-spacing: 0.69px;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}

#white-label-ido-launchpad .testimonials-item .txt {
  margin-top: -20px;
}

#white-label-ido-launchpad .testimonials-item .testimonials-content .txt p {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  margin-top: 60px !important;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.6px;
  line-height: 26px;
  position: relative;
  z-index: 3;
}

#white-label-ido-launchpad .txt p {
  font-size: 15px !important;
}

#white-label-ido-launchpad
  .testimonials-item:hover
  .testimonials-content:before {
  opacity: 1;
}

#white-label-ido-launchpad .testimonials-item:hover .user {
  top: -20px;
}

#white-label-ido-launchpad .work-process {
  background: #f2f2f2;
  min-height: 464px;
}

#white-label-ido-launchpad #Workflow .work-process::after {
  content: "";
  position: absolute;
  background: #f1f3f5;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 100%;
  transition: all 0.3s;
  z-index: -1;
}

#white-label-ido-launchpad #Workflow .work-process:hover::after {
  background: rgb(233 248 255 / 22%);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}

#white-label-ido-launchpad #Workflow .work-process {
  background-color: #fff;
  padding: 15px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0px 30px 0px -20px #f2f2f2;
  margin-bottom: 30px;
  border: 1px solid #1fb6c43b;
  text-align: center;
}

#white-label-ido-launchpad .work-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto !important;
  border: 2px solid #47b475;
  border-radius: 50px;
}

#white-label-ido-launchpad #Workflow .work-process img {
  margin-top: 15px;
  width: 64px;
  height: 64px;
  font-size: 40px;
  text-align: center;
}

#white-label-ido-launchpad #Workflow .work-process h3 {
  font-size: 18px;
  padding: 20px 0px;
  color: #000000;
  font-weight: 700;
}

#white-label-ido-launchpad #Workflow .work-process p {
  color: #000000;
}

#white-label-ido-launchpad .single-promo-card.single-promo-hover:before {
  content: "";
  position: absolute;
  right: -55px;
  width: 95px;
  height: 95px;
  bottom: -50px;
  border-radius: 35px;
  background-color: #47b47575;
  transition: all 0.3s;
  z-index: -1;
}

#white-label-ido-launchpad .single-promo-card.single-promo-hover {
  transition: all 300ms ease-in-out;
  overflow: hidden;
  z-index: 1;
}

#white-label-ido-launchpad .single-promo-card.single-promo-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
  color: #fff;
}
#white-label-ido-launchpad .single-promo-card.single-promo-hover:hover {
  p {
    color: #fff;
  }
}

#white-label-ido-launchpad .card h5 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

#white-label-ido-launchpad .card {
  position: relative;
  padding: 34px 10px 10px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-top: 20px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box !important;
  border-radius: 10px !important;
}

#white-label-ido-launchpad .card-body img {
  width: 70px;
  height: 70px;
}

#white-label-ido-launchpad .single-promo-card.single-promo-hover:hover span,
#white-label-ido-launchpad .single-promo-card.single-promo-hover:hover h5 {
  color: #fff !important;
}

#white-label-ido-launchpad .single-promo-card.single-promo-hover:hover:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #47b475;
}

@media (min-width: 1200px) {
  #white-label-ido-launchpad .card {
    min-height: 276px;
  }
}

#white-label-ido-launchpad .pricing-table {
  padding: 60px 0;
  width: 100%;
}

#white-label-ido-launchpad .bg-w {
  background: #fff;
}

#white-label-ido-launchpad .bg-w1 {
  background: #fff;
}

#white-label-ido-launchpad .bg-w2 {
  background: #e0dddd;
  font-weight: 600;
}

#white-label-ido-launchpad .btc {
  color: #fff !important;
}

@media (max-width: 767px) {
  #white-label-ido-launchpad .data table th:last-child {
    margin: 10px 0 0;
    display: table-cell;
    width: 100%;
  }
  #white-label-ido-launchpad .data table tbody tr:first-child th:last-child {
    transform: scale(1);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
  }
}

#white-label-ido-launchpad .btc {
  color: #161515 !important;
  font-weight: 700;
}

#white-label-ido-launchpad .pdg {
  padding: 10px 70px !important;
}

#white-label-ido-launchpad .font-wei {
  font-weight: 700;
}

#white-label-ido-launchpad .cor {
  background-color: #f9f9f9;
}

#white-label-ido-launchpad .bdr {
  border-top: none !important;
}
#white-label-ido-launchpad .bg-dark-half-md {
  background: #368b5a;
  width: 100%;
  display: inline-block;
  padding: 100px 0;
}
#white-label-ido-launchpad .category-grid-style-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  -webkit-box-shadow: 5px 5px 24px 0 rgb(2 45 98 / 10%);
  box-shadow: 5px 5px 24px 0 rgb(2 45 98 / 10%);
  border-radius: 5px;
}
#white-label-ido-launchpad .teck .category-grid-style-01 .category-item {
  padding: 30px;
  text-align: center;
  width: 24% !important;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: pointer;
}
#white-label-ido-launchpad .teck .category-grid-style-01 .category-item:before {
  content: "";
  background: #fff;
  width: 110%;
  height: 110%;
  display: inline-block;
  position: absolute;
  left: -5%;
  top: -5%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
  transition: all 0.3s ease-in-out;
}
#white-label-ido-launchpad
  .teck
  .category-grid-style-01
  .category-item
  .category-icon {
  color: #333;
  font-size: 44px;
  line-height: 1;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}
#white-label-ido-launchpad .category-grid-style-01 .category-item:hover:before {
  -webkit-box-shadow: 5px 5px 24px 0 rgb(2 45 98 / 10%);
  box-shadow: 5px 5px 24px 0 rgb(2 45 98 / 10%);
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#white-label-ido-launchpad .projectFactsWrap {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}
#white-label-ido-launchpad #projectFacts .fullWidth {
  padding: 0;
}

#white-label-ido-launchpad .projectFactsWrap .item {
  width: 33.3%;
  height: 100%;
  padding: 30px 0px;
  text-align: center;
}

#white-label-ido-launchpad .projectFactsWrap .item:nth-child(1) {
  background: #47b475;
}

#white-label-ido-launchpad .projectFactsWrap .item:nth-child(2) {
  background: #3a9d64;
}

#white-label-ido-launchpad .projectFactsWrap .item:nth-child(3) {
  background: #478f65;
}

#white-label-ido-launchpad .projectFactsWrap .item:nth-child(4) {
  background: rgb(23, 44, 66);
}

#white-label-ido-launchpad .projectFactsWrap .item p.number {
  font-size: 30px;
  padding: 0;
  font-weight: bold;
  margin-bottom: 1rem;
}

#white-label-ido-launchpad .projectFactsWrap .item p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: "Open Sans";
}

#white-label-ido-launchpad .projectFactsWrap .item span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

#white-label-ido-launchpad .projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}

#white-label-ido-launchpad .projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
  color: white;
}

#white-label-ido-launchpad .projectFactsWrap .item:hover span {
  background: white;
}

@media (max-width: 786px) {
  #white-label-ido-launchpad .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 768px) {
  #white-label-ido-launchpad .teck .category-grid-style-01 .category-item {
    width: 50% !important;
  }
}
/* AUTHOR LINK */

#white-label-ido-launchpad section#counter-stats {
  /* display: flex; */
  justify-content: center;
  margin-top: 0;
  padding: 0 !important;
  background: rgb(26 26 26);
  color: #fff;
}

#white-label-ido-launchpad .stats {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 2rem 0;
}

#white-label-ido-launchpad .stats .fa {
  color: #008080;
  font-size: 60px;
}
#white-label-ido-launchpad .stats p {
  font-size: 14px;
  margin-bottom: 0;
}
#white-label-ido-launchpad #counter-stats .stats:nth-child(1) {
  background: #00cbd7;
}
#white-label-ido-launchpad #counter-stats .stats:nth-child(2) {
  background: #14e5f1;
}
#white-label-ido-launchpad #counter-stats .stats:nth-child(3) {
  background: #00cbd7;
}
#white-label-ido-launchpad #counter-stats .stats:nth-child(4) {
  background: #14e5f1;
}

/* AUTHOR LINK */

#white-label-ido-launchpad .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#white-label-ido-launchpad .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#white-label-ido-launchpad
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#white-label-ido-launchpad .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#white-label-ido-launchpad .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#white-label-ido-launchpad .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#white-label-ido-launchpad
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#white-label-ido-launchpad .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#white-label-ido-launchpad .nec-btn {
  position: relative !important;
  color: #fff !important;
  border-radius: 30px !important;
  font-size: 11px;
  text-transform: uppercase !important;
  transform: scale(1.1, 1.1) !important;
  transition: all 0.3s ease-out 0s !important;
  background: #47b475 !important;
}
#white-label-ido-launchpad .nec-btn:hover {
  transform: scale(1, 1) !important;
  color: #fff !important;
  background: #00a9e2 !important;
}
#white-label-ido-launchpad
  a.nectar-button.medium.regular.accent-color.regular-button.nec-btn {
  margin-bottom: 15px !important;
  display: inline-block;
  margin-right: 26px !important;
}
#white-label-ido-launchpad .contentall a,
a.home-talk-experts {
  padding: 10px 20px !important;
}

#white-label-ido-launchpad #newsletter-form-sec .form-group {
  margin-bottom: 7px;
}
#white-label-ido-launchpad #mailForm_common .form-group label {
  color: #fff;
}
#white-label-ido-launchpad .contact-content {
  padding-top: 40px;
  padding: 30px;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #f9f9f9;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);
  border-radius: 7px;
}
#white-label-ido-launchpad .contact-content p {
  font-size: 18px;
  line-height: 30px;
}
#white-label-ido-launchpad .contact-content a {
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}
#white-label-ido-launchpad .contact-content a i {
  color: #47b475;
  font-size: 24px;
}
#white-label-ido-launchpad .form-control {
  background: #fff !important;
}
#white-label-ido-launchpad .pad-40-20 {
  padding: 25px 25px 0 25px;
}
#white-label-ido-launchpad input#phone_common {
  background: #fff;
}
#white-label-ido-launchpad #mailForm_common .form-group label {
  color: #fff;
}
#white-label-ido-launchpad a.home-talk-experts {
  border-radius: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #white-label-ido-launchpad .contact-content {
    margin-top: 20px;
    margin-left: 0;
    padding: 20px !important;
  }
  #white-label-ido-launchpad .pad-40-20 {
    padding: 20px;
  }
  #white-label-ido-launchpad .contact-content a {
    font-size: 14px;
  }
  #white-label-ido-launchpad .sticky-form {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #white-label-ido-launchpad .contact-content {
    margin-top: 20px;
    margin-left: 0;
  }
}
#white-label-ido-launchpad .newsletter_videos h5 {
  color: #fff;
  font-size: 25px !important;
}
#white-label-ido-launchpad h5.section-title {
  font-size: 27.46px;
}
#white-label-ido-launchpad .client h5 {
  color: #444 !important;
}
#white-label-ido-launchpad h5.common_h3 {
  font-size: 25px !important;
}

#white-label-ido-launchpad .pull-right-tow {
  background-color: #ba3c0d;
  padding: 3px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 125px;
  position: absolute;
  right: 0;
  bottom: -35px;
}
#white-label-ido-launchpad .pull-right-tow a {
  font-size: 12px;
}

#white-label-ido-launchpad .header-nabar-icon .pull-right {
  background-color: #47b475;
  font-weight: 700;
  font-size: 15px;
  padding: 3px 15px;
  /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
  margin-right: 0px;
  position: absolute;
  right: 16px;
  bottom: -30px;
}

#white-label-ido-launchpad .header-nabar-icon .pull-right a:hover {
  color: #fff !important;
}
#white-label-ido-launchpad .header-nabar-icon .pull-right a,
#white-label-ido-launchpad .header-nabar-icon .pull-right-tow a {
  color: #fff;
}

.sticky-form > .quick-cont-btn {
  top: 64vh;
  right: -60px;
  padding: 0px 20px;
}

@media (max-width: 320px) {
  #white-label-ido-launchpad .header-nabar-icon .pull-right,
  #white-label-ido-launchpad .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }
  #white-label-ido-launchpad .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}
@media (max-width: 768px) {
  #white-label-ido-launchpad .header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }
  #white-label-ido-launchpad .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}
/*@media  (max-width: 1024px){
   #white-label-ido-launchpad .header-nabar-icon .pull-right, .pull-right-tow {
      background-color: #47b475;
    font-weight: 700;
    font-size: 15px;
    padding: 3px 15px;
    margin-right: 0px;
    position: relative;
    right: 16px;
    bottom: -30px;
    }
}*/

#white-label-ido-launchpad .color-btn {
  background-color: #1fd1f9 !important;
  background-image: -o-linear-gradient(
    135deg,
    #b621fe 0,
    #1fd1f9 74%
  ) !important;
  background-image: linear-gradient(315deg, #b621fe 0, #1fd1f9 74%) !important;
  border-radius: 7px;
  color: #fff;
}
#white-label-ido-launchpad .color-btn1 {
  border: none;
  /*border-radius: 50px;*/
  transition: 0.3s;
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  /* clip-path: polygon(0% 0%,90% 0,100% 30%,100% 100%,0 100%); */
  animation: glow 1s infinite;
  transition: 0.5s;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
  font-size: 16px;
}
#white-label-ido-launchpad .color-btn1:focus,
#white-label-ido-launchpad .color-btn1:hover {
  background-color: #47b475;
  transition: 0.5s;
}
#white-label-ido-launchpad .color-btn1 span:hover {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 643px) {
  #white-label-ido-launchpad .color-btn1 {
    padding: 9px 16px !important;
  }
}
/*.color-btn1:before{
    content: "";
    background: rgba(0,0,0,0.9);
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
}*/
@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(220, 41, 255), -5px -5px 20px rgb(220, 41, 255);
  }

  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}
#white-label-ido-launchpad .sticky_form_bp {
  position: fixed;
  right: -80px !important;
  top: 250px;
  z-index: 10;
  background: #47b475;
  color: #fff;
  padding: 0px 15px 16px !important;
  text-transform: capitalize;
  font-weight: 700;
  transform: rotate(270deg) !important;
  cursor: pointer;
  font-size: 14px;
}
/*@media (max-width: 1024px){
   #white-label-ido-launchpad .sticky_form_bp {
        display:block !important;
}
}

@media (max-width: 320px){
   #white-label-ido-launchpad .sticky_form_bp  {
        display: block;
        
}
}*/

#white-label-ido-launchpad .footer-wrap h5 {
  margin: 10px 0;
  position: relative;
  text-transform: uppercase;
  padding-left: 10px;
  color: #fff;
  background: -webkit-linear-gradient(77deg, #00bcd4 0%, #17cc81 100%);
  background: -ms-linear-gradient(
    0deg,
    rgb(254, 66, 47) 0%,
    rgb(254, 81, 150) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.footer-wrap h5:after {
  content: "";
  width: 3px;
  height: 90%;
  background: #47b475;
  display: inline-block;
  float: left;
  position: absolute;
  margin-top: 0;
  margin-right: 6px;
  left: 0;
  top: 1px;
}

@media (min-width: 320px) and (max-width: 768px) {
  /*.openbtn1{width: 70px !important; top: 21% !important;}*/
}

/* The sidepanel menu */
#white-label-ido-launchpad .sidepanel4 {
  height: auto; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Stay on top */
  top: 27%;
  left: 0;
  background-color: transparent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
#white-label-ido-launchpad .sidepanel4 a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#white-label-ido-launchpad .sidepanel4 a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#white-label-ido-launchpad .sidepanel4 .closebtn1 {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 44px;
  margin-left: 50px;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  background: #eb1e2d !important;
  line-height: 0.8em;
  font-weight: bold;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 70%);
}

/* Style the button that is used to open the sidepanel */
#white-label-ido-launchpad .openbtn1 {
  /*font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0px;
  border: none;
  position: fixed;
  top: 43%;
  left: 0;
  width: 90px;
  z-index: 99999;*/
  /*animation: zoom-in-zoom-out 1s ease infinite;*/
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#white-label-ido-launchpad .openbtn1:hover {
  background-color: transparent;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

#white-label-ido-launchpad .close-btn {
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 99;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  box-shadow: 1px 1px 11px -3px #999;
  display: none;
  transition: all 2s;
  background-color: #89002a;
}
#white-label-ido-launchpad .fixed-social {
  position: fixed;
  bottom: 42px;
  padding: 0px 10px;
  background: linear-gradient(2deg, black, #868686, black);
  transition: all 2s;
  width: 200px;
  height: 25px;
  border-radius: 20px;
  box-shadow: 1px 1px 11px -3px #999; /*filter: drop-shadow(0 0 0.75rem crimson);*/
  display: flex !important;
  flex-wrap: wrap;
  z-index: 99;
  justify-content: center;
}
#white-label-ido-launchpad .hide {
  opacity: 0;
  left: -100%;
}
#white-label-ido-launchpad .show1 {
  opacity: 1;
  left: 50px;
}
#white-label-ido-launchpad .fixed-social .items {
  margin: 0 auto;
}
#white-label-ido-launchpad .fixed-social .items .icons {
  width: 55px;
  height: 55px;
  background: linear-gradient(45deg, black, transparent);
  padding: 5px;
  border-radius: 50%;
  margin: -17px 0;
  float: left;
}
#white-label-ido-launchpad .fixed-social .items .icons i {
  padding: 9px;
  background: #00a7e7;
  border-radius: 50%;
  font-size: 26px;
  color: #fff;
}
#white-label-ido-launchpad .fixed-social .items .text {
  padding-left: 60px;
  font-weight: bold;
  font-family: arial;
  font-size: 14px;
  color: #fff !important;
  line-height: 2.2em;
}
#white-label-ido-launchpad .fixed-social .items a {
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  #white-label-ido-launchpad .show1 {
    left: 20px;
  }
  #white-label-ido-launchpad .close-btn {
    bottom: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #white-label-ido-launchpad .fixed-social {
    bottom: 80px;
  }
  #white-label-ido-launchpad .show1 {
    left: 50px;
  }
  #white-label-ido-launchpad .close-btn {
    bottom: 60px;
    z-index: 999;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #white-label-ido-launchpad .fixed-social .items .text {
    display: none;
  }
  #white-label-ido-launchpad .fixed-social {
    bottom: 80px;
  }
  #white-label-ido-launchpad .show1 {
    left: 12%;
  }
  #white-label-ido-launchpad .fixed-social .items a {
    display: flex;
    justify-content: center;
  }
  #white-label-ido-launchpad .close-btn {
    bottom: 60px;
    z-index: 999;
  }
}
