#newsletter-form-sec .form-group {
  margin-bottom: 7px;
}

#mailForm_common .form-group label {
  color: #fff;
}

.contact-content {
  padding-top: 40px;
  padding: 30px;
  margin-top: -40px;
  margin-left: -40px;
  /* background-color: #f9f9f9; */
  background: #2c126b;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);
  border-radius: 7px;
}

.contact-content p {
  font-size: 18px;
  line-height: 30px;
}

.contact-content a {
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}

.contact-content a svg {
  /* color: #47b475; */
  color: #30d4d1;
  font-size: 24px;
}

.form-control {
  background: #00000059 !important;
  border: none !important;
}

.pad-40-20 {
  padding: 25px 25px 0 25px;
}

input#phone_common {
  background: #fff;
}

#mailForm_common .form-group label {
  color: #fff;
}

a.home-talk-experts {
  border-radius: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contact-content {
    margin-top: 20px;
    margin-left: 0;
    padding: 20px !important;
  }

  .pad-40-20 {
    padding: 20px;
  }

  .contact-content a {
    font-size: 14px;
  }

  .sticky-form {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .contact-content {
    margin-top: 20px;
    margin-left: 0;
  }
}

.newsletter_videos h5 {
  color: #fff;
  font-size: 25px !important;
}

h5.section-title {
  font-size: 27.46px;
}

.client h5 {
  color: #444 !important;
}

h5.common_h3 {
  font-size: 25px !important;
}

.pull-right-tow {
  background-color: #ba3c0d;
  padding: 3px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 125px;
  position: absolute;
  right: 0;
  bottom: -35px;
}

.pull-right-tow a {
  font-size: 12px;
}

.header-nabar-icon .pull-right {
  background-color: #47b475;
  font-weight: 700;
  font-size: 15px;
  padding: 3px 15px;
  /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
  margin-right: 0px;
  position: absolute;
  right: 16px;
  bottom: -30px;
}

.header-nabar-icon .pull-right a:hover {
  color: #fff !important;
}

.header-nabar-icon .pull-right a,
.header-nabar-icon .pull-right-tow a {
  color: #fff;
}

.sticky-form > .quick-cont-btn {
  top: 64vh;
  right: -60px;
  padding: 0px 20px;
}

@media (max-width: 320px) {
  .header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }

  .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}

@media (max-width: 768px) {
  .header-nabar-icon .pull-right,
  .pull-right-tow {
    display: none;
    border-radius: 0px;
    position: relative;
    width: 255px;

    text-align: center;
    margin: 0 15px;
    float: left !important;
    padding: 9px 2px;
  }

  .sidenav a {
    font-size: 14px;
    padding: 4px 4px 8px 8px;
  }
}

/*@media  (max-width: 1024px){
    .header-nabar-icon .pull-right, .pull-right-tow {
      background-color: #47b475;
    font-weight: 700;
    font-size: 15px;
    padding: 3px 15px;
    margin-right: 0px;
    position: relative;
    right: 16px;
    bottom: -30px;
    }
}*/

.color-btn {
  background-color: #1fd1f9 !important;
  background-image: -o-linear-gradient(
    135deg,
    #b621fe 0,
    #1fd1f9 74%
  ) !important;
  background-image: linear-gradient(315deg, #b621fe 0, #1fd1f9 74%) !important;
  border-radius: 7px;
  color: #fff;
}

.color-btn1 {
  border: none;
  /*border-radius: 50px;*/
  transition: 0.3s;
  background: #f90cff;
  background-image: linear-gradient(
    to right bottom,
    #f90cff,
    #e027ff,
    #c534ff,
    #a93eff,
    #8a44ff,
    #6560ff,
    #3c73ff,
    #0081ff,
    #009cff,
    #00b3ff,
    #00c6f5,
    #0cd7e8
  );
  /* clip-path: polygon(0% 0%,90% 0,100% 30%,100% 100%,0 100%); */
  animation: glow 1s infinite;
  transition: 0.5s;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
  font-size: 16px;
}

.color-btn1:focus,
.color-btn1:hover {
  background-color: #47b475;
  transition: 0.5s;
}

.color-btn1 span:hover {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 643px) {
  .color-btn1 {
    padding: 9px 16px !important;
  }
}

/*.color-btn1:before{
    content: "";
    background: rgba(0,0,0,0.9);
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
}*/
@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(220, 41, 255), -5px -5px 20px rgb(220, 41, 255);
  }

  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}

.sticky_form_bp {
  position: fixed;
  right: -80px !important;
  top: 250px;
  z-index: 10;
  /* background: #47b475; */
  color: #fff;
  padding: 0px 15px 16px !important;
  text-transform: capitalize;
  font-weight: 700;
  transform: rotate(270deg) !important;
  cursor: pointer;
  font-size: 14px;
}

/*@media (max-width: 1024px){
    .sticky_form_bp {
        display:block !important;
}
}

@media (max-width: 320px){
    .sticky_form_bp  {
        display: block;
        
}
}*/

@media (min-width: 320px) and (max-width: 768px) {
  .openbtn1 {
    width: 70px !important;
    top: 21% !important;
  }
}

/* The sidepanel menu */
.sidepanel4 {
  height: auto;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 999999;
  /* Stay on top */
  top: 27%;
  left: 0;
  background-color: transparent;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel4 a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel4 a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel4 .closebtn1 {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 44px;
  margin-left: 50px;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  background: #eb1e2d !important;
  line-height: 0.8em;
  font-weight: bold;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 70%);
}

/* Style the button that is used to open the sidepanel */
.openbtn1 {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0px;
  border: none;
  position: fixed;
  top: 43%;
  left: 0;
  width: 90px;
  z-index: 99999;
  /*animation: zoom-in-zoom-out 1s ease infinite;*/
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.openbtn1:hover {
  background-color: transparent;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.8, 0.8);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.8, 0.8);
  }
}

.footer-wrap h6 {
  color: #fff !important;
  font-size: 23px;
}

.footer-wrap h5 {
  margin: 10px 0;
  position: relative;
  text-transform: uppercase;
  padding-left: 10px;
  color: #fff;
  background: -webkit-linear-gradient(77deg, #00bcd4 0%, #17cc81 100%);
  background: -ms-linear-gradient(
    0deg,
    rgb(254, 66, 47) 0%,
    rgb(254, 81, 150) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.footer-wrap h5:after {
  content: "";
  width: 3px;
  height: 90%;
  background: #47b475;
  display: inline-block;
  float: left;
  position: absolute;
  margin-top: 0;
  margin-right: 6px;
  left: 0;
  top: 1px;
}
