
#ico-marketing-services .guardian-p {
    text-align: center;
    font-size: 12px;
}

/*-- Client section --*/
#ico-marketing-services .teck .category-grid-style-01 .category-item {
    padding: 10px !important;
}

#ico-marketing-services .category-item.aos-item .text-center {
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

#ico-marketing-services .teck .category-grid-style-01 .category-item .category-icon {
    margin-bottom: 0 !important;
}

#ico-marketing-services .teck .category-icon img {
    height: 80px !important;
}

/*-- Client section --*/


#ico-marketing-services .font_wei {
    font-weight: 700 !important;
    color: #ffffff;
}

#ico-marketing-services .data table .pr_pack th {
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    background-image: linear-gradient(#09abe9, #00c5a7);
}

#ico-marketing-services .data table th {
    background: #000000;
    font-size: 20px;
    padding: 20px 5px;
}

#ico-marketing-services .data table td {
    padding: 5px 10px;
}

#ico-marketing-services .data table td img {
    width: 25px;
}

#ico-marketing-services .data table td img.no_ic {
    width: 20px;
}

#ico-marketing-services .data table th.theme-color-bg {
    padding: 25px 5px;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
}

#ico-marketing-services .data tr td:nth-child(1) {
    width: 30% !important;
}

#ico-marketing-services .data .table-striped tr td:nth-child(2),
#ico-marketing-services .data .table-striped tr td:nth-child(3),
#ico-marketing-services .data .table-striped tr td:nth-child(4) {
    width: 18% !important;
}

#ico-marketing-services .pricing-table {
    padding: 0px;
}

#ico-marketing-services .pricing-table {
    display: block;
}

@media screen and (max-width: 900px) {
    #ico-marketing-services .pricing-table {
        display: block;
        overflow: scroll;
    }
}

#ico-marketing-services table.table-striped.order_btn td {
    padding: 20px 0;
}

@media (max-width: 768px) {
    #ico-marketing-services .data table th.theme-color-bg {
        font-size: 13px;
    }

    #ico-marketing-services .table-striped {
        overflow-x: scroll;
        width: 100%;
    }
}

#ico-marketing-services .form-right input.submit_send {
    width: 100% !important;
    margin: 0 !important;
    display: inline-block !important;
    background: #47b475 !important;
    color: #fff !important;
    border: 0 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    padding: 10px 0 !important;
}

#ico-marketing-services #our-team .connect-with {
    text-align: center;
}

#ico-marketing-services .list_growth li {
    margin-bottom: 20px;
}

#ico-marketing-services .list_growth li .list-icon {
    float: left;
}

#ico-marketing-services #get-quote .formdiv form {
    background: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: inline-block;
    padding: 50px 0 0px 50px;
}

#ico-marketing-services a.home-talk-experts.launch {
    padding: 11px 57px;
    margin: 13px;
}

#ico-marketing-services span.btc_price {
    position: relative;
    top: 35px;
}

#ico-marketing-services .contentall p:first-child {
    font-size: 24px;
}

#ico-marketing-services a.launch {
    margin: 15px;
    padding: 11px 46px;
    background: #47b475;
    padding: 10px 25px;
    margin-top: 0px;
    display: inline-block;
    border-radius: 0;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}

#ico-marketing-services a.accordion-toggle.tab_high {
    display: block;
    padding: 11px 5px;
    text-transform: uppercase;
    font-size: 16px;
    background: #47b475 !important;
    color: #fff !important;
    border-bottom: 1px solid #bbb;
    font-weight: bold;
}

#ico-marketing-services a.launch:hover {
    color: #ffffff !important;
}

#ico-marketing-services .accordion-toggle.collapsed:after {
    content: "-";
    float: right;
    background: #fff;
    color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: bold;
    font-family: Arial;
    line-height: 25px;
}

/* #ico-marketing-services .accordion-toggle:after {
    font-family: Arial;
    content: "+";
    float: right;
    background: #fff;
    color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 25px;
} */

#ico-marketing-services .data table {
    margin-bottom: 0;
}

#ico-marketing-services h1.common_h1 {
    background: transparent;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: inline-block;
    color: #ffffff;
    text-transform: initial;
}

#ico-marketing-services h2.common_h2 {
    font-size: 30px !important;
    padding: 5px 0 25px 0;
    color: #ffffff;
}

#ico-marketing-services h1.common_h1:before,
#ico-marketing-services h1.common_h1:after {
    display: none;
}

#ico-marketing-services .partner-sec {
    background: #fff;
    border-top: 2px solid #47b475;
    border-radius: 4px;
    padding: 30px 15px 15px 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #47b475;
    min-height: 300px;
}

#ico-marketing-services .partner-sec img {
    width: 64px;
    margin-bottom: 5px;
}

#ico-marketing-services .partner-sec h3 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

#ico-marketing-services .partner-sec p {
    margin: 0;
}

#ico-marketing-services .proces_step img {
    width: 95px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#ico-marketing-services .proces_step {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 0 6px #46b677;
    border-radius: 2%;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 90%;
    min-height: 230px;
}

#ico-marketing-services .proces_step p {
    margin: 0;
}

#ico-marketing-services .proces_step img {
    width: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#ico-marketing-services .proces_step:after {
    width: 17%;
    content: '';
    height: 11px;
    border: 2px solid #46b677;
    position: absolute;
    right: -13px;
    border-right: none;
    border-left: none;
    top: 50%;
}

#ico-marketing-services .proces_step:before {
    content: '';
    border: solid #49b779;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: -15px;
    top: 49%;
}

#ico-marketing-services .top_ico_process .col-lg-3:last-child .proces_step:after,
#ico-marketing-services .top_ico_process .col-lg-3:last-child .proces_step:before {
    display: none;
}

@media only screen and (max-width: 1200px) {
    #ico-marketing-services .proces_step::after {
        right: -10px;
    }

    #ico-marketing-services .proces_step::before {
        right: -12px;
    }
}

@media only screen and (max-width: 992px) {
    #ico-marketing-services .proces_step::after {
        right: -5px;
    }

    #ico-marketing-services .proces_step::before {
        right: -10px;
    }
}

@media (max-width: 767px) {
    #ico-marketing-services h2.common_h2 {
        font-size: 16px !important;
    }

    #ico-marketing-services .proces_step {
        background: #fff;
        padding: 10px 10px;
        box-shadow: 0 0 6px #46b677;
        border-radius: 2%;
        max-width: 400px;
        margin: 20px auto 30px;
        min-height: 200px;
    }

    #ico-marketing-services .data table .pr_pack th {
        font-size: 13px;
    }

    #ico-marketing-services .data table th:last-child {
        margin: 10px 0 0;
        display: table-cell;
        width: 100%;
    }

    #ico-marketing-services .data table th {
        background: #000000;
        font-size: 13px;
        padding: 10px 5px;
    }

    #ico-marketing-services .data table td {
        padding: 5px 6px;
    }

    #ico-marketing-services .order_btn a {
        padding: 10px 2px;
        border-radius: 3px;
        font-size: 11px;
    }

    #ico-marketing-services a.accordion-toggle.tab_high {
        font-size: 12px;
    }

    #ico-marketing-services .proces_step::after {
        right: 0;
        left: 0;
        margin: 0 auto;
        height: 38px;
        width: 16px;
        border-top: none;
        border-bottom: none;
        border-left: 2px solid #46b677;
        border-right: 2px solid #46b677;
        top: auto;
        bottom: -9px;
    }

    @media screen and (max-width: 768px) {
        #ico-marketing-services .proces_step::before {
            display: none;
        }

        #ico-marketing-services .proces_step::after {
            display: none;
        }
    }

    #ico-marketing-services .proces_step::before {
        right: auto;
        left: 47.5%;
        margin: 0 auto;
        top: auto;
        bottom: -15px;
        transform: rotate(45deg);
    }

    #ico-marketing-services .data table tbody tr:first-child th:last-child {
        transform: none;
    }
}

@media (max-width: 360px) {
    #ico-marketing-services .order_btn a {
        font-size: 10px;
    }
}

#ico-marketing-services .nec-btn {
    border-radius: 30px !important;
}

#ico-marketing-services .partner-sec:hover {
    background: #ffffff;
    border: 1px solid #47b475;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#ico-marketing-services .proces_step h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

#ico-marketing-services .ico-01:hover {
    background: #f2f2f2;
    color: #000000 !important;
}

#ico-marketing-services .ico-01:hover p {
    color: #000000;
}

#ico-marketing-services .ico-01:hover strong {
    color: #000000;
}

@media screen and (max-width: 767px) {
    #ico-marketing-services .cont_text::after {
        width: 17%;
        content: '' !important;
        height: 11px;
        border: 2px solid #46b677 !important;
        position: absolute;
        right: -13px;
        border-right: none;
        border-left: none;
        top: 50%
    }
}

#ico-marketing-services .banner {
    background: url(/public/assets/images/bg2.webp) #030013;
    background-size: cover;
    padding-top: 138px;
    padding-bottom: 130px;
    background-position: center;
    background-repeat: no-repeat;
}

#ico-marketing-services .banner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.95;
}

#ico-marketing-services .banner {
    padding-top: 80px;
    padding-bottom: 80px;
}

#ico-marketing-services .banner-overlay {
    background: linear-gradient(90deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 0%));
}

@media screen and (max-width: 500px) {
    #ico-marketing-services .banner-overlay {
        background: rgb(0 0 0 / 70%);
    }
}

#ico-marketing-services .banner_content p {
    font-size: 14px !important;
}

#ico-marketing-services .contentall a:hover {
    background: #00acdc;
}

#ico-marketing-services .banner_content .contentall {
    margin-top: 85px;
    padding: 0;
}

#ico-marketing-services .contentall h1,
#ico-marketing-services .ban_tirt {
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
}

#ico-marketing-services .contentall h1 {
    color: #fff;
}

#ico-marketing-services .contentall p {
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 21px;
    max-width: 800px;
    margin: 0 auto 30px;
    display: block;
}

#ico-marketing-services .contentall a {
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

#ico-marketing-services .sto-icons li {
    width: 24%;
    margin: 0;
    padding: 30px 20px;
}

#ico-marketing-services .sto-icons li span {
    margin: 0;
}

#ico-marketing-services .sto-icons li img {
    margin-bottom: 10px;
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 500px) {

    #ico-marketing-services .contentall h1,
    #ico-marketing-services .ban_tirt {
        font-size: 28px;
    }

    #ico-marketing-services .sto-icons li {
        display: inline-block;
        width: 48%;
        text-align: center;
    }
}

#ico-marketing-services .fontwei {
    color: #ffffff;
}

#ico-marketing-services .common_h3 {
    font-size: 25px;
}

#ico-marketing-services .faq-content h4.panel-title {
    text-align: left;
}

#ico-marketing-services .panel-default>.panel-heading+.panel-collapse>.panel-body {
    text-align: left;
}

/* #ico-marketing-services #accordion .panel {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}

#ico-marketing-services #accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 3px;
}

#ico-marketing-services #accordion .panel-title a {
    display: block;
    padding: 10px 15px 10px 50px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    position: relative;
}

#ico-marketing-services #accordion .panel-title a:before {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #46b677;
    font-size: 12px;
    font-weight: 900;
    color: #fdfbfb;
    text-align: center;
    text-shadow: none;
    position: absolute;
    top: 8px;
    left: 10px;
}

#ico-marketing-services #accordion .panel-title a.collapsed:before {
    content: "\f067";
    color: #fff;
    background: #333;
}

#ico-marketing-services #accordion .panel-body {
    padding: 10px 15px;
    font-size: 15px;
    color: #222;
    line-height: 27px;
    border: 2px solid #ddd;
} */

#ico-marketing-services .lists li {
    background-image: url(/public/assets/images/cricle-list.webp);
    list-style: none;
    background-repeat: no-repeat;
    font-size: 15px;
    background-size: 24px;
    padding-left: 35px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 11px;
}

#ico-marketing-services .font-wei {
    font-weight: 600;
}

#ico-marketing-services .gray_bg1 {
    background-color: #fcfcfc;
}

#ico-marketing-services .sec_tit,
#ico-marketing-services .sec_tit h2,
#ico-marketing-services .sec_tit h3,
#ico-marketing-services .sec_tit h4 {
    font-size: 25px !important;
    font-weight: 700;
    color: #000000;
    line-height: 1.4;
    text-transform: capitalize;
}

#ico-marketing-services .contentall p {
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 18px !important;
    margin: 0 auto 30px;
    display: block
}

@media (max-width:768px) {
    #ico-marketing-services .banner_content p {
        font-size: 14px !important
    }
}

@media screen and (max-width: 500px) {

    #ico-marketing-services .data .table-striped tr td:nth-child(2),
    #ico-marketing-services .data .table-striped tr td:nth-child(3),
    #ico-marketing-services .data .table-striped tr td:nth-child(4) {
        width: 20% !important;
    }
}

#ico-marketing-services .what-content {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    min-height: 330px;
}

#ico-marketing-services .abt-ico {
    margin-bottom: 13px;
    display: inline-block;
    padding: 10px;
}

#ico-marketing-services .what-tit {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
    padding: 10px 0px;
}

#ico-marketing-services .abt-desp {
    font-size: 14px;
    line-height: 1.6em;
}

#ico-marketing-services .what-content:hover {
    background: #f2f2f2;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 0%);
}

#ico-marketing-services .featured-icon-box.style3 {
    padding: 25px;
    min-height: 355px;
}

#ico-marketing-services .text-left {
    text-align: left !important;
}

#ico-marketing-services .featured-icon-box {
    position: relative;
    margin: 15px 0;
    background-color: #fff;
}

#ico-marketing-services .featured-icon-box.style3:after,
#ico-marketing-services .featured-icon-box.style3:before {
    content: '' !important;
    position: absolute;
    height: 2px;
    left: 0px;
    width: 100px;
    right: auto;
    top: 0;
    transition: .7s all ease;
}

#ico-marketing-services .featured-icon-box.style3:before {
    background-color: #47b475;
}

#ico-marketing-services .featured-icon-box.style3 .cmt-icon.cmt-icon_element-size-lg {
    margin-bottom: 0px;
}

#ico-marketing-services .cmt-icon.cmt-icon_element-onlytxt {
    height: auto;
    width: auto;
    line-height: 1;
}

#ico-marketing-services .cmt-icon {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid transparent;
    transition: all .4s ease-in-out;
    box-sizing: content-box;
    position: relative;
}

#ico-marketing-services .cmt-icon.cmt-icon_element-size-lg i {
    font-size: 50px;
}

#ico-marketing-services .cmt-icon.cmt-icon_element-onlytxt i {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

#ico-marketing-services .cmt-icon i {
    display: inline-block;
    vertical-align: middle;
}

#ico-marketing-services .featured-icon-box.icon-align-top-content .featured-content {
    padding-top: 15px;
}

#ico-marketing-services .featured-icon-box.style3 .featured-title h3 {
    line-height: 30px;
}

#ico-marketing-services .featured-title h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}

#ico-marketing-services .featured-desc {
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
}

#ico-marketing-services .featured-icon-box.style3 .featured-desc:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 34px solid #47b475;
    border-left: 30px solid transparent;
    right: 0px;
    bottom: 0px;
    transition: .7s all ease;
}

#ico-marketing-services .featured-icon-box.style3:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0px;
    right: auto;
    top: 0;
}

#ico-marketing-services .featured-icon-box.style3:after,
#ico-marketing-services .featured-icon-box.style3:before {
    content: '' !important;
    position: absolute;
    height: 2px;
    left: 0px;
    width: 100px;
    right: auto;
    top: 0;
    transition: .7s all ease;
}

#ico-marketing-services .featured-icon-box:hover {
    border-left: 2px solid #47b475;
    transition: .1s all ease;
}

#ico-marketing-services .featured-icon-box.icon-align-top-content:hover .featured-icon .cmt-icon {
    transform: rotateY(360deg);
    transition: 0.7s;
    transition: all 500ms ease;
}

#ico-marketing-services .ico-uses {
    background-color: #262729;
}

.ico-uses li p {
    color: #fff;
}

#ico-marketing-services .data table {
    width: 90%;
    margin: 0 auto;
}

#ico-marketing-services .data table td,
#ico-marketing-services .data table th {
    padding: 20px;
}

#ico-marketing-services .font_sze_algn {
    font-size: 20px !important;
}

#ico-marketing-services .table-striped {
    background-color: #fff;
}

#ico-marketing-services .bg_color li {
    list-style: square;
    text-align: left;
}

#ico-marketing-services .data table td {
    text-align: center;
}

#ico-marketing-services .Package_list img {
    /*border:1px solid #fff;
                border-radius: 150px;*/
}

#ico-marketing-services .Package_list {
    display: inline-block;
    background: rgba(0, 0, 0, .6);
    padding: 30px 10px;
    /* max-width: 280px; */
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
    margin-inline: 2px;
}

#ico-marketing-services .Package_list img {
    height: 55px;
}

@media screen and (max-width:320px) {
    #ico-marketing-services .Package_list {
        width: 100%;
    }
}


#newsletter-form-sec .form-group {
    margin-bottom: 7px;
}

#mailForm_common .form-group label {
    color: #fff;
}

#ico-marketing-services .contact-content {
    padding-top: 40px;
    padding: 30px;
    margin-top: -40px;
    margin-left: -40px;
    background-color: #f9f9f9;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .22);
    border-radius: 7px;
}

#ico-marketing-services .contact-content p {
    font-size: 18px;
    line-height: 30px;
}

#ico-marketing-services .contact-content a {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

#ico-marketing-services .contact-content a i {
    color: #47b475;
    font-size: 24px;
}

#ico-marketing-services .form-control {
    background: #fff;
}

#ico-marketing-services .pad-40-20 {
    padding: 25px 25px 0 25px;
}

#ico-marketing-services input#phone_common {
    background: #fff;
}

#mailForm_common .form-group label {
    color: #fff;
}

#ico-marketing-services a.home-talk-experts {
    border-radius: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    #ico-marketing-services .contact-content {
        margin-top: 20px;
        margin-left: 0;
        padding: 20px !important;
    }

    #ico-marketing-services .pad-40-20 {
        padding: 20px;
    }

    #ico-marketing-services .contact-content a {
        font-size: 14px;
    }

    #ico-marketing-services .sticky-form {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
    #ico-marketing-services .contact-content {
        margin-top: 20px;
        margin-left: 0;
    }
}

#ico-marketing-services .newsletter_videos h5 {
    color: #fff;
    font-size: 25px !important;
}

#ico-marketing-services h5.section-title {
    font-size: 27.46px;
}

#ico-marketing-services .client h5 {
    color: #444 !important;
}

#ico-marketing-services h5.common_h3 {
    font-size: 25px !important;
}